/*Addon Dash*/

.glass-input {
    background-color: rgba(255, 255, 255, 0.106);
    border: none;
    padding: 15px 30px;
    border-style:solid;
    border-width:.5px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    width: 100%;
    color: white;
    font-size: 1em;
    margin-top:10px;
  }
  .glass-input::placeholder {
    color: white;
  }

  .search-results-div {
    background-color:rgba(255, 255, 255, 0.092);
    border-style:solid;
    border-width:.5px;
    border-color:rgba(245, 245, 245, 0.209);
    border-radius:20px;
    padding:20px;
    margin-top:10px;
}

.search-results-menu-wrap {
    display:flex;
 

}

#search-results {
  max-height: 200px; /* Adjust this value as needed */
  overflow-y: auto;
}