/*Mobile Business */ /* as of 7.23.23 */

:root {
    --breakpoint-small: 480px;
    --breakpoint-medium: 800px;
    --breakpoint-large: 1024px;
    --breakpoint-xlarge: 1200px;

--mobileBackgroundColor: #050022;
--mobileBackgroundColor-sub: #000000;
--mobileBackgroundColor-sub2: #000000;
--mobileBackgroundColor-sub3: #000000;

--backgroundNavy : #050022;
--white:#fff;


  }
  


/* TURN OFF DEGS ON MOBILE */

@media screen and (max-width:800px) {

.transformed {
  transform: none!important;
  transform: perspective(400px) rotateX(-23deg)!important;
  transition: transform 0.5s;
 /* overflow-y:auto;*/
}

.button-toggle3d:hover {
  background-color: var(--backgroundNavy);
  color: var(--white);
  border-style:solid;
  border-color: var(--borderColor-white);
  transform: perspective(400px) rotateX(30deg)!important;

}

.navTippyWrap {
  width: 100%;
  height:auto!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position:relative;
  z-index:10;
  margin-bottom:0px;
  /*padding-bottom:10px;*/
  transform: perspective(200px) rotateX(0deg)!important;
  padding-top:10px;
  padding-bottom:10px;
}

.navTippyWrap-index {
  width: 100%;
  height:auto!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position:relative;
  z-index:10;
  margin-bottom:0px;
  /*padding-bottom:10px;*/
  transform: perspective(200px) rotateX(0deg)!important;
  padding-top:10px;
  padding-bottom:10px;
}

}



  @media screen and (max-width: 800px) {


.update-image {
  width:100%;
  height:auto;
  min-height:240px;
  margin:auto;
  display:block;
  /*transform: perspective(400px) rotateX(3deg)!important;*/
  border-style:solid;
  border-color: var(--backgroundColor-sub);
  margin-top:23px;
  margin-bottom:10px;
  mix-blend-mode:lighten;
  border-color:var(--borderColor);
  opacity: .72;


}

      .frontContent {
        margin-top:20px;
      }

  }



@media screen and (max-width: 800px) {

  body {
    padding:0px!important;
  }
    header {
      display:none;
    }
  }
  
  @media screen and (max-width: 800px) {
    .login-button {
      height: 55px;
      position: relative;
    }
  }

  /*Mobile Footer */

@media screen and (max-width: 800px) {
    footer {
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-style:solid;
      border-width:.5px;
      border-color:var(--borderColor-inactive);
    }
  }

    /* On mobile devices, show one column per row */
    @media screen and (max-width: 800px) {
        .subHeaderVert {
          flex-basis: 100%;
        }
      }


      @media screen and (max-width: 800px) {
        .grid-container-show {
          display: block;
          grid-template-columns: repeat(3, 217px);
          grid-template-rows: repeat(2, 315px);
          grid-gap: 50px!important;
          padding:10px;
         
        }
      
      }

      @media screen and (max-width: 800px) {
        .frontPage-logo-wrap {
          width: 100%;
          height: 100%;
          max-height:175px;
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
    }

    @media screen and (max-width: 400px) {
        .frontPage-logo-wrap {
          width: 100%;
          height: 100%;
          max-height:165px;
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
       
       
        .frontPage-logo {
          width: 100%;
          max-width:400px;
          height: auto;
          display:block;
          
        }
        
      }

      @media screen and (max-width: 800px) {
        .button-toggle3d {
          display:none;
        }
      }

/*MOBILE BUSINESS */
@media only screen and (max-width: 800px) {
    /* your styles here */
  
    .frontSubHeader-text {
      text-align:center;
      font-weight:600;
      font-size: 14px;
      color: var(--white);
      line-height: 100%;
      text-transform:uppercase;
    }
    
    .frontSubHeader-text-link {
      text-align:center;
      font-weight:600;
      font-size: 10px;
      color: var(--white);
      line-height: 100%;
      text-transform:uppercase;
      text-decoration:underline;
    }
  
  .frontPageWrap {
    
    width:100%; 
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  
  
  }
  
  
  .frontHeader {
    padding-top: 5%;
    padding-bottom: 5%;
    width:100%; 
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align:center;
    
    color:white;
    border-style: solid;
    border-color:var(--borderColor)!important;
  }
  
  
  .frontSubHeader {
    width: 100%;
    height: 60px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    border-style:solid;
    border-width:.5px;
  }
  
  
  .monthBlock {
    width:720px;
    min-height:560px;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items:top;
    justify-content: center;
    background-color: rgba(19, 19, 19, 0.143);
    border-style: solid;
    border-color: var(--borderColor);
    border-width: 1px;
    border-radius: 15;
    text-align:left;
    padding:20px;
  
    transform: perspective(400px) rotateX(15deg);
    overflow-y:auto;
    max-height:100vh;
  
  }
  
  .monthDisplay-text {
    font-size:72px;
    line-height:75%;
  }
  
  .logoBig {
    width:400px;
    height:auto;
    display:block;
    mix-blend-mode: lighten;
  }
  
  
  .monthBlock {
    width:100%;
    min-height:560px;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items:top;
    justify-content: center;
    background-color: rgba(19, 19, 19, 0.143);
    border-style: solid;
    border-color: var(--borderColor);
    border-width: 1px;
    text-align:left;
    padding:20px;
    margin:5px;
  
  }

  /*MOBILE MARKET*/

  #marketplace-ahoy-app {
    min-height:300vh;
  }

  .market-grid-item {
    border: 1px solid var(--borderColor-white);
    text-align: center;
    min-width: 300px;
    max-width: 300px;
    min-height: 600px;
    max-height: 600px;
    background-color: var(--backgroundNavy);
    position: relative;
    transform: scale(.95);
  }
  
  .buy-button {
    background-color: var(--buttonColor);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 200px;
    width: 100% !important;
    height: 50px;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: (--white);
  }

  }

  @media only screen and (max-width: 800px) {
   .radioBG-wrap {
    display:none;
   }
  }

  /*MOBILE RADIO */

  @media (max-width: 800px) {

    
    .radioContent-wrap {
      width:100%;
      height:auto!important;
      min-height:500px!important;
      display:flex;
      align-items:center;
      justify-content: center;
      border-style:solid;
    }
    

  
      .center-mobile {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: top;
        width:100%;
   
      }
    

      /*Audio Player (radio) - on mobile */

      .custom-audio-player {

        background-color: rgb(135, 255, 237);
        color: rgb(0, 0, 0);
        font-size: 18px;
        border-radius: 5px;
        border: none;
        position: relative;
        overflow: hidden;
        width:300px;
      }
   
  }
  

  @media (max-width:800px) {
  


  .topDog-wrap {
    padding:0;
    margin:0!important;

    width:100%;
    height:auto;
    border-style:solid;
    border-radius: 25px 25px 0 0; /* Specifies the border radius for each corner (top-left, top-right, bottom-right, bottom-left) */
    
  }

  .topDog-wrap-index {
    display:flex;
    flex-direction: column;
    }

  .topLogo-graphic{
    width:250px!important;
    height:auto;
  }

  .topLogo-wrap {
    width:100%!important;
    height:auto!important;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .topNavButton-stream {
    color:var(--white);
    width:180px;
    height:40px;
    margin:0;
    margin-top:20px;
  }

  .frontSubHeader-text {
    color: var(--white) !important;
    text-align:justify;
    padding-left:10px;
    padding-right:10px;
  }

}


@media screen and (max-width:800px) { 

  h2 {
    font-size: 36px;
    text-align:center!important;
    text-transform:uppercase;

   
  }


}