  #githubData {
  background-color: var(--backgroundColor-sub);
  position:relative;
  height:auto;
  padding:10px;
  padding-bottom:23px;
  border-style:solid;
  border-width:.5px;
  max-width:720px;
}


.githubUpdates h2 {
  font-size:100px;
  text-align:center;
  line-height:90%;
  text-transform: uppercase;
}

.githubUpdates h3 {
  text-align:left;
  font-size:42px; 
  text-transform: capitalize;
  text-align: justify;
  line-height:90%;
  font-weight:700;
  
}

#updateFooter {
  display: flex;
  flex-direction: column;
  align-items:center;
z-index:1;
}

.scrollToTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #0051c3; /* Set a background color */
  color: rgb(2, 2, 2); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  border-color:white;
  border-style:solid;
  border-width:.1px;
}

.scrollToTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}