@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');




body {
    font-family: 'Barlow', sans-serif;
    background-color: rgb(0, 0, 33);
    color: rgb(255, 255, 255);
    padding:20px;
}

a {
    color:white;
}

button {
    width:100%;
    height:40px;
    border-color:white;

}

.container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col1,
.col2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.card {
    width: 100%;
    background-color: #000;
    border: 1px solid #fff;
    margin-bottom: 20px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.card-section {
    padding: 20px;
}

h1 {
    font-size: 120px;
    margin-top: 0;
    text-align: center;
    color: #fff;
    line-height:80%;
    font-weight:900;
    font-stretch:extra-expanded;
}

img {
    max-width: 50%;
    display: block;
    margin: 20px auto;
}

#show-dates-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#show-dates-table th, #show-dates-table td {
    padding: 10px;
    border-bottom: 1px solid #fff;
}

table {
    margin: 30px auto;
    margin-right:30px;
}

.merch-grid {
    margin:20px;
}

#merchandise-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#merchandise-list .merch-item {
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
}

/* Media queries for mobile devices */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100vw;
    }

    h1 {
        font-size: 50px;
    }

    img {
        max-width: 100%;
    }

    #merchandise-list {
        margin-top:20px;
        grid-template-columns: repeat(1, 1fr);
        
    }
}

    /* Add this CSS to style the buttons */

    footer {
        width:100%;
        display:flex;
        justify-content:center;
        flex-direction: column;
        align-items:center;
    }
    footer a {
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        background-color: rgba(0, 123, 255, 0.5);
        border: 2px solid #007bff;
        border-radius: 15px;
        transition: background-color 0.2s ease;
        margin:5px;

    }

    footer a:hover {
        background-color: rgba(0, 123, 255, 0.8);
    }

    .userBox {
        background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
        border-radius: 10px; /* Rounded corners */
        padding: 20px; /* Padding around content */
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Shadow for 3D effect */
        backdrop-filter: blur(4px); /* Blur the background elements */
        border: 1px solid rgba(255, 255, 255, 0.18); /* Border for more defined edges */
        color: #fff; /* White text color */
        font-size: 18px; /* Text size */
        width: 300px; /* Width of the box */
        margin: 0 auto; /* Center the box */
    }


    @media screen and (max-width: 768px) {
        body, .container, .col1, .col2, .card, .card-section, h1, img, #show-dates-table, #merchandise-list, footer, .userBox {
            width: 90%; /* Adjust as needed */
            margin: 0 auto;
            padding: 5%; /* Adjust as needed */
        }
    
        .container {
            flex-direction: column;
        }
    
        .col1, .col2 {
            width: 100%;
            float: none;
        }
    
        h1 {
            font-size: 50px;
        }
    
        img {
            max-width: 100%;
        }
    
        #merchandise-list {
            grid-template-columns: repeat(1, 1fr);
        }
    
        footer a {
            width: 100%;
            box-sizing: border-box;
        }
    
        .userBox {
            width: 100%;
        }

        .userBox {
            width: 90%; /* Adjust as needed */
            padding: 5%; /* Adjust as needed */
            margin: 0 auto;
        }

        footer a {
            min-width:200px;
            display:flex;
            justify-content:center;
        }
    }

    .top-back-buttons {
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 1000;
        
    }
    .top-back-buttons a {
        margin-right: 10px;
        text-decoration: none;
        color: white;
        border-style:solid;
        border-color:transparent;
        padding-left:5px;
        padding-right:5px;
    }

    .top-back-buttons a:hover {
        border-color:white;
    }