
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        .hidden {
            display: none;
        }

        button {
            background-color:white;
            border-style:solid;
            border-color:black;
            min-width:10%;
            height:50px;
        }

        button:hover {
            background-color:black;
            border-color:white;
            color:white;
            cursor: pointer;
        }
        #songForm {
            background-color: #ffffff;
            padding: 2rem;
            border-radius: 12px;
            border-style:solid;
            border-color:black;
            border-width:1px;
        }
        label, input {
            width: 100%;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            background-color:white!important;
        }
        label {
            color: #000000;
            background-color:white;
        }
        input[type="number"],
        input[type="text"],
        input[type="url"] {
            padding: 0.5rem;
            border: solid;
            border-color:black;
            border-width:1px;
            border-radius: 8px;
            outline: none;
            background-color: #ffffff;
            color: #000000;
        }
        input[type="checkbox"] {
            transform: scale(1.5);
            margin-right: 0.5rem;
        }
        input[type="submit"] {
            padding: 0.5rem 1rem;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 1.2rem;
        }

            
        #jsonFile::file-selector-button {
            background-color: white;
            color: black;
            padding:10px;
            font-size:12px;
            border-style:solid;
            border-color:black;
        }

        #jsonFile::file-selector-button:hover {
            background-color:black;
            color:white;
            cursor: pointer;
            border-color:white;
        }