# Mac
.DS_Store

# Node
node_modules/
npm-debug.log

# Cordova
platforms/
plugins/
www/index.js
js/**/*.js
js/**/*.js.map

# Android
platforms/android/build/
platforms/android/app/build/
platforms/android/app/src/main/assets/www/
platforms/android/app/src/main/res/xml/config.xml

# iOS
platforms/ios/build/
platforms/ios/www/
platforms/ios/cordova/console.log
*.xcuserdatad

# Windows
platforms/windows/build/
platforms/windows/www/
platforms/windows/cordova/console.log

# Electron
dist/
out/
electron-builder.yml
electron-packager-config.json

# Other
.gradle/
.idea/
.vscode/