/* CONTENT CSS */

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.topLogo-wrap {
  margin-top: 20px;
}

.topLogo-graphic {
  width: 250px;
}

.navTippyWrap {
  margin-top: 20px;
}

.topNavButton-stream,
.topNavButton-market {
  padding: 10px 20px;
  background-color: #007bff00;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-color:white;
  border-style:solid;
}

.menu {
  margin-top: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-12 {
  width: 100%;
  padding : 50px; 
}

.episode-item {
  width: 100%!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
  padding: 10px;
}

.episode-details {
  text-align: center;
}

.episode-details h3 {
  font-size: 36px;
  font-weight:500;
  margin-bottom: 10px;
}

.episode-details p {
  margin-bottom: 5px;
}

.play-button-robShow {
  margin-top: 10px;
  border-style:solid;
  border-color:white
  cursor: pointer;

}

.play-button-robShow button {
  padding: 10px 20px;
  background-color: #007bff00;
  color: #fff;
  border: none;
  cursor: pointer;
}