/* CONTENT CSS */

html {
    background-color: #050022;
}

.navTippyWrap {
    width: 100%;
    height:100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position:relative;
    z-index:10;
    margin-bottom:100px;
    padding-bottom:10px;
    padding-top:40px;
    transform: perspective(200px) rotateX(0deg)!important;
}


#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.topLogo-wrap {
  margin-top: 20px;
}

.topLogo-graphic {
  width: 300px;
  margin-top:25px;
}

.navTippyWrap {
  margin-top: 20px;
}

.topNavButton-stream,
.topNavButton-market {
  padding: 10px 20px;
  background-color: #007bff00;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-color:white;
  border-style:solid;
}

.menu {
  margin-top: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-12 {
  width: 100%;
  padding : 50px; 
}

.episode-item {
  width: 100%!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
  padding: 10px;
}

.episode-details {
  text-align: center;
}

.episode-details h3 {
  font-size: 36px;
  font-weight:500;
  margin-bottom: 10px;
}

.episode-details p {
  margin-bottom: 5px;
}

.play-button-robShow {
  margin-top: 10px;
  border-style:solid;
  border-color:white
  cursor: pointer;

}

.play-button-robShow button {
  padding: 10px 20px;
  background-color: #007bff00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.content-header-robShow {
    background-color:red;
}


/*ROB SHOW CONTENT CSS */

.content-header-robShow {
  position: relative;
  background-color: black;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.content-header-robShow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.show-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.season-episode {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.play-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #FF9800;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background-color: #F57C00;
}

.breadCrumb-link {
  font-size:12px;
  text-decoration: underline;
}

.breadCrumb-wrap {
  display:flex;
  width:50%;
  text-align:center;
}

.bottomButtons-menu {
  display:flex;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.296);
  width:100%;
  height:200px;
  justify-content:center;
  margin-top:20px;
}