<html>
	<head>
		<title>
			Ahoy Indie Media - A hand-crafted media company - made with love.
		</title>
		<!-- CSS3 -->
		<link rel="stylesheet" href="mainStyle.css">
		<link rel="stylesheet" href="mobile.css">
		<link rel="stylesheet" href="/css/grain-and-tweaks.css">
	</head>
	<body>
 <!-- START OF TOPDOG -->
  
 <div class="full-width-total-super-wrap-index">
	<div class="topDog-wrap-index">
	  <div class="topLogo-wrap">
		<a href="index.html"><img src="/assets/u_ahoy23.png" class="topLogo-graphic"></a>
	  </div>
		<div id="songSearchApp">
			<input type="text" v-model="searchTerm" @input="searchSongs" placeholder="Search for songs...">
		
			<table>
				<thead>
					<tr>
						<th>Artist</th>
						<th>Song Title</th>
						<th>Artist Thumbnail</th>
						<th>Album Artwork</th>
						<th>Play</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="song in filteredSongs" :key="song.songTitle">
						<td>{{ song.artist }}</td>
						<td>{{ song.songTitle }}</td>
						<td><img :src="song.artistThumbnail" alt="Artist Thumbnail"></td>
						<td><img :src="song.albumArtwork" alt="Album Artwork"></td>
						<td><button @click="togglePlay(song)">{{ song.play ? 'Pause' : 'Play' }}</button></td>
						<td><button @click="togglePlay(song)">Add</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<script src="songSearch.js"></script>
	</body>
</html>