<html>
	<!-- library 9.14.23 -->
	<head>
		<title>
			Ahoy Indie Media - A hand-crafted media company - crafted with love.
		</title>
		<meta name="description" content="Ahoy Indie Media is a hand-crafted media company, crafting unique and engaging media experiences with love.">
		<meta name="keywords" content="Ahoy, Indie, Media, hand-crafted, media company, love">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- CSS3 -->
		<!-- <link rel="stylesheet" href="mainStyle.css"> -->
		<!-- <link rel="stylesheet" href="mobile.css">-->
		<!-- <link rel="stylesheet" href="/css/grain-and-tweaks.css">-->
		<link rel="stylesheet" href="/library.css">
		<link rel="stylesheet" href="/css/index-addon.css">
		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
		<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1042.0.min.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	
	
		<!--<link rel="stylesheet" href="/experimental/playlistAudio/styles.css">-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	</head>


	<body>
 <!-- START OF TOPDOG -->
  
 <div class="full-width-total-super-wrap-index">
	<div class="topDog-wrap-index">
	  <div class="topLogo-wrap">
		<a href="index-dash.html"><img src="/assets/u_ahoy23.png" class="topLogo-graphic"></a>
	  </div>
		<div id="songSearchApp">
			<input type="text" v-model="searchTerm" @input="searchSongs" placeholder="Search the library for songs..." class="glass-input">
		
			<table>
				<thead>
					<tr>
						<th>Artist</th>
						<th>Song Title</th>
						<th>Artist Thumbnail</th>
						<th>Album Artwork</th>
						<th>Play</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="song in filteredSongs" :key="song.songTitle">
						<td>{{ song.artist }}</td>
						<td>{{ song.songTitle }}</td>
						<td><img :src="song.artistThumbnail" alt="Artist Thumbnail"></td>
						<td><img :src="song.albumArtwork" alt="Album Artwork"></td>
						<td><button @click="togglePlay(song)">{{ song.play ? 'Pause' : 'Play' }}</button></td>
						<td><button @click="togglePlay(song)">Add</button></td>
					</tr>
				</tbody>
			</table>
		</div>


		<section>


			    <!-- Audio Player -->
				<!-- 
				<audio id="audioPlayer" controls>
					
					<source src="https://ahoycollection.s3.us-east-2.amazonaws.com/Campbell+Rice-+From+Here.mp3" type="audio/mp3">
					Your browser does not support the audio element.
				</audio>-->


		</section>
		
		<!-- BOTTOM MUSIC BAR  -->
		<style>
			.controls {
				display: flex;
				align-items: center;
				}

				.progress-container {
				flex-grow: 1;
				}
			.bottomMusicBar {
				background-color: #000;
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 85px;
				display:flex;
				align-items: center;
				padding-left:10px;
			}

			.bottomMusicBar div {
				margin-left:2px;
				margin-right:2px;
				color: #fff;

			}

			.bottomMusicBar h2 {
				font-size:20px;
				font-weight:300;
			}

			.bottomMusicBar h3 {
				font-size:20px;
				font-weight:400;
			}
		</style>
		<div class="bottomMusicBar">
			<div class="superAudio">
			  <audio id="audioPlayer">
				<source src="path_to_audio_file.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			  </audio>
			  <div class="controls" style="display: flex; align-items: center;">
				<div>Now Playing:</div>
				<div><h2>Artist Name /</h2></div>
				<div><h3>Song Name</h3></div>
				<button id="playPauseBtn">Play</button>
				<div class="progress-container" style="flex-grow: 1;">
				  <div class="progress"></div>
				</div>
				<div><button>Add to Playlist </button></div>
			  </div>
			</div>
		  </div>


		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<script src="songSearch.js"></script>
<!-- BACKGROUND SCRIPT GRAPHIC -->
<script src="/script_backgroundChange.js"></script>
</body>
</html>