@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;800;900&display=swap');

:root {

  --white: #FFFFFF;
  --black: #000000;

  --streamColor: #004e66c8;
  --marketColor: #b4d2ffcd;
  --frontPageColor:#d9e9d9cd; 
  --radioColor: #000000a8;
  --liveColor: #ffb4b4c3;

  --darkFont: #000000;
  --lightFont: #FFFFFF;

  --mainFont: 'Barlow', sans-serif;

  --largeFontSize: 9.5rem;
  --mediumFontSize: 3.5vw;
  --smallFontSize: 1rem;

  --frameHeightDefault: 750px;

  --backgroundNavy : #000f2b85;

  --radioHoverColor: orange;
  --borderColor: #2500aa;
  --borderColor-inactive:#1400aa4d;

  --happyHover: #003caa7a;

}


body {
    font-family: 'Barlow', sans-serif;
    color:white;
    background-image: url("https://i.gifer.com/1AkD.gif");
    background-size:cover;
    background-attachment: fixed;
}
/*Change the opacity of the background */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 15, 43, 0.765);
  z-index: -1;
}

header {
  width:100%;
  background-color:red;
}

.login-button {
  width: 95px;
  height: 40px;
  background-color: transparent;
  color: #ffffff57;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  float: right;
  font-family:'Barlow', sans-serif;
  border-style:solid;
  border-width:1px;
  border-color:var(--borderColor-inactive);

}

.login-button:hover {
  background-color: var(--backgroundNavy);
  color: white;
  border-color: var(--borderColor);

}


/*HTML DEFO STYLES */
a {
  text-decoration: none;
  color: white;
}

span {
  font-weight:700;
}

p {
  text-align:left;
}


/*end of HTML DEFO STYLES */

footer {
 
  width:100%;
  height:30px;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  text-align:center;
  line-height:90px;
  font-size: 12px;
  color:var(--lightFont);

  padding-top:10px;
  padding-bottom:10px;
}

footer a {
  text-decoration-line: none;
  margin-left:5%;
  margin-right:5%;
  color:rgba(255, 255, 255, 0.279);
}

footer a:hover { 
  color: var(--lightFont);
}

  ul {
    list-style: none;
    margin-top: 10px;
  }
  li {
    display: inline-block;
    margin-right: 10px;
    border-radius: 2px;
    border-width: thin;
    border-color:white!important;
    background-color: rgb(0, 0, 0);
    font-size: 12px;
  }

  

  button {
    width:195px;
    max-width:195px;
    height:70px;
    margin-left:5px;
    margin-right:5px;
    border-style:solid;
    border-width:thin;
    border-color:#ffffff;
    font-family: var(--mainFont);
    color:white;
    text-transform: uppercase;
    font-weight: 400;
    background-color:transparent;
    
   
  }

  button:hover {
    cursor: pointer;
    mix-blend-mode: lighten;

  }

  nav {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    float: middle;
    line-height:90px;
  }

  @media screen and (min-width: 620px) {
    nav {
      background-color: rgba(21, 0, 158, 0);
    }
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
  }

  h2 {
    font-size: 52px;
    line-height:45px;

  }

  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    text-transform: lowercase;
  }


audio {
  font-size:100px;
}



  .subHeader {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--backgroundNavy);
    
  }
  
  .subHeaderVert {
    flex-basis: 50%; /* set the width of each column */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* On mobile devices, show one column per row */
  @media screen and (max-width: 600px) {
    .subHeaderVert {
      flex-basis: 100%;
    }
  }
  
  h2, p {
    margin: 0;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  




  /*TOP NAV SUGAR STYLES */
  .navTippyWrap {
    width: 100%;
    height:97px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }



  /*TALKS WITH THE MARKETPLACE GRID */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 217px);
    grid-template-rows: repeat(2, 315px);
    grid-gap: 10px;
    padding:10px;
   
  }
  .grid-item {
    background-color: rgb(120, 120, 120);
    width: 217px;
    height: 315px;
    padding: 10px;
    border: 1px solid gray;
    margin:5px;
    
  }

  .grid-item:hover {
    background-color: rgb(35, 35, 35);
    cursor: pointer;
  }

  .grid-container-show {
    display: grid;
    grid-template-columns: repeat(3, 217px);
    grid-template-rows: repeat(2, 315px);
    grid-gap: 50px!important;
    padding:10px;
   
  }

  .grid-item-show {
    width: 217px;
    height: 315px;
    padding: 10px;
    
    border: 1.5px solid rgb(255, 255, 255);
    margin:5px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }

.grid-item-show:hover {
  background-color:black;
}



 
  
  

  .logo:hover {
    cursor: pointer;
    filter: invert(1);
    mix-blend-mode: lighten;
  }

  .logoBig {
    width:700px!important;
    height:auto;
    display:block;
    mix-blend-mode: lighten;
  }


  /*LIVE SHOW CSS */

  .address {
    text-align:center;
  }

  @media screen and (max-width: 750px) {
    .grid-container-show {
      display: block;
      grid-template-columns: repeat(3, 217px);
      grid-template-rows: repeat(2, 315px);
      grid-gap: 50px!important;
      padding:10px;
     
    }
  
  }

  
/*TOP NAV CSS */



.topNavButton {
  color:white;
  border-style:solid;
  border-width:1px;
  border-color: var(--lightFont);
}

.topNavButton:hover {
  color:white;
}

.topNavButton-stream {
  color:white;
  /*background-color: var(--streamColor);*/
}

.topNavButton-stream::before {
  background-color:rgba(0, 0, 0, 0.423);
}

.topNavButton-stream:hover {
  background-color: var(--streamColor);
  animation: pulse 1s infinite;
}

.topNavButton-market:hover {
  background-color: var(--marketColor);
  animation: pulse 1s infinite;
}

.topNavButton-frontPage:hover {
  background-color: var(--frontPageColor);
  animation: pulse 1s infinite;
}

.topNavButton-radio:hover {
  background-color: var(--radioColor);
  animation: pulse 1s infinite;
}

.topNavButton-live:hover {
  background-color: var(--liveColor);
  animation: pulse 1s infinite;
}

/*topDownNav Animations */





/*Radio Styles */

.radio {
  background-color:var(--radioColor)!important;

}

/*LiveShow Styles */
  
.liveShowWrap {

  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align:center;
  width:100%;
  
  
  
}

.liveShowContent {
  border-style:solid;
  border-width:1px!important;
  border-color:white;
  width:100%;
  height:auto;
 
}


.liveShowContentDescWrap {
  background-color:var(--backgroundNavy);
  width:100%;
  padding:20px;

}
/*LIVESHOW = CALENDAR STYLES */

.calendar {
	display: grid;
  grid-template-columns: repeat(3, 217px);
    grid-template-rows: repeat(2, 315px);
    grid-gap: 10px;
    padding:10px;
	
}

.day {
	width: calc(100% / 7);
	height: 100px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	display: flex;
  justify-content: center;

}


/*STREAM STYLES */

.streamShowContent {
  border-style:solid;
  border-width:1px!important;
  border-color:white;
  width:100%;
  height:auto;
}





/*FRONT PAGE STYLES */

.frontSubHeader {
  width: 100%;
  height: 100px;
  background-color: var(--backgroundNavy);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.monthBlock {
  width:720px;
  min-height:560px;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items:top;
  justify-content: center;
  background-color: rgba(19, 19, 19, 0.143);
  border-style: solid;
  border-color: var(--borderColor);
  border-width: 1px;
  text-align:left;
  padding:20px;

}

.monthDisplay-text {
  display:flex;
  flex-direction: row;
  align-items:left;
  justify-content: left;
  font-family: var(--mainFont);
  font-size:122px;
  font-weight: bold;
  margin:auto;
  text-transform: uppercase;
}

.monthUpdateText-bold {
  display:flex;
  flex-direction: row;
  align-items:left;
  justify-content: left;
  font-family: var(--mainFont);
  font-size:22px;
  font-weight: bold;
  margin:auto;
  text-transform: uppercase;
}

.monthUpdateText {
  display:flex;
  flex-direction: row;
  align-items:left;
  justify-content: left;
  font-family: var(--mainFont);
  font-size:22px;
}

.frontHeader {
  background-color:rgba(0, 0, 0, 0.327);
  padding-top: 5%;
  padding-bottom: 5%;
  width:100%; 
  height:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align:center;
  
  color:white;
  border-style: solid;
  border-color:var(--borderColor)!important;
}



.frontPageWrap {
  
  width:100%; 
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;


}

/*BLOG BLOCK STYLES*/

.blogBlock {
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: var(--frontPageColor);
  
}


.blogItem-head {
  background-color:red;
  height:50%;
  display:flex;
  align-items: center;
  justify-content: center;

}

.blogItem-content {
  background-color:var(--liveColor);
  height:50%;
  display:flex;
  align-items: center;
  justify-content: center;
}





/*BACKGROUND STYLES */

.background-1-stream {
  background-color: var(--streamColor);
}

.background-1-market { 
  background-color: var(--marketColor);
}

.background-1-front {
  background-color: var(--frontPageColor);
}

.background-1-radio {
  background-color: var(--radioColor);
}

.background-1-live {
  background-color: var(--liveColor);
}


/*RADIO STYLES*/

.radioWrap {
  background-color:#000e3030;
  width:100%; 
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  mix-blend-mode: lighten;
  background-image:url(animatedgif.gif);

  height:var(--frameHeightDefault);
}

.radioFrame {
  width:80%;
  height:400px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: var(--radioColor);
  border-radius:25px;
  position:absolute;
  top:20%;
}


.radioShowContent {
  border-style:solid;
  border-width:1px!important;
  border-color:white;
  width:200px;
  height:200px;
 
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;

}

.radioShowContent:hover {
  animation: pulse 1s infinite;
  background-color: var(--radioHoverColor);
}





.product {
  border-color: var(--lightFont);
  border-style: solid;
  border-width:1px;
  padding:26px;
  background-color: var(--marketColor);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product img {
  max-width: 100%;
  margin-bottom: 11px;
}

.cart {

  grid-column: 2 / span 2;
  background-color: var(--marketColor);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart h2 {
  margin-top: 0;
}

.cart ul {
  margin: 0;
  padding: 0;
}

.cart li {
  list-style: none;
  margin-bottom: 10px;
}


/*Mobile Business */

:root {
  --breakpoint-small: 480px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 1024px;
  --breakpoint-xlarge: 1200px;
}

@media screen and (min-width: var(--breakpoint-small)) {
  /* CSS rules for small breakpoint */
}

@media screen and (min-width: var(--breakpoint-medium)) {
  /* CSS rules for medium breakpoint */
}

@media screen and (min-width: var(--breakpoint-large)) {
  /* CSS rules for large breakpoint */
}

@media screen and (min-width: var(--breakpoint-xlarge)) {
  /* CSS rules for extra-large breakpoint */
}




/*Audio Player */
#audio-player{
  background-color:red;
}

audio {
  
  display:flex;
  align-items: center;
  background-color:green;
}

.albumWrap {
  max-width:500px;
  overflow:hidden;
  position: absolute;
  z-index:0;
}

.audioData {
  /*Make a grid */
  display: grid;
  grid-template-columns: .25fr 1fr;
  grid-gap: 20px;
  background-color: var(--radioColor);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding:20px;
  margin:20px;

}

.audioDisplay {
  font-size:18px;
  font-weight: 700;
  line-height:16px;
  text-transform:uppercase;
}


/*ANIMATIONS */


/*pulsating border*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.478);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}


.link {
  text-decoration: underline;
}


/*MOBILE BUSINESS */
@media only screen and (max-width: 620px) {
  /* your styles here */

  

.frontPageWrap {
  
  width:100%; 
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;


}


.frontHeader {
  background-color:rgba(0, 0, 0, 0.327);
  padding-top: 5%;
  padding-bottom: 5%;
  width:100%; 
  height:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align:center;
  
  color:white;
  border-style: solid;
  border-color:var(--borderColor)!important;
}


.frontSubHeader {
  width: 100%;
  height: 100px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.monthBlock {
  width:720px;
  min-height:560px;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items:top;
  justify-content: center;
  background-color: rgba(19, 19, 19, 0.143);
  border-style: solid;
  border-color: var(--borderColor);
  border-width: 1px;
  border-radius: 15;
  text-align:left;
  padding:20px;

}

.monthDisplay-text {
  font-size:72px;
}

.logoBig {
  width:400px;
  height:auto;
  display:block;
  mix-blend-mode: lighten;
}


.monthBlock {
  width:100%;
  min-height:560px;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items:top;
  justify-content: center;
  background-color: rgba(19, 19, 19, 0.143);
  border-style: solid;
  border-color: var(--borderColor);
  border-width: 1px;
  text-align:left;
  padding:20px;
  margin:5px;

}

}


/* MARKETPLACE STYLES */

.marketData-section {
  min-width:100%;
  margin-top:2.5%;
  padding-right:10px;
  padding-left:10px;
  margin-left:10px;
  margin-right:20px;
}

.market-text-header {
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align:center;
}

.market-text-sub-header {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align:center;
}

.market-text-body {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align:center;
}

.market-button {
  background-color: var(--buttonColor);
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  border-color: var(--borderColor)!important;
}

.market-button:hover {
  background-color: var(--borderColor);
}

/*#marketplace {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}*/

/*MARKETPLACE REFACTOR GRID */

.market-product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    overflow-y: scroll;
    max-height: 700px;
    max-width: 700px;
    min-width:100%;
}

/*MarketPlace Item*/

.market-grid-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  min-width:300px;
  max-width:300px;
  min-height:600px;
  max-height: 600px;
 
}

/*MarketPlace Styles + Grid Market Place */

/*Buy button wrap*/
.product-buy-wrap {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width:100%;
  height:100%;
}

/*BUY BUTTON*/
.buy-button {
  background-color: var(-buttonColor);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 100%!important;
  position: relative;
  height:50px;
  z-index: 12;
  text-transform:uppercase;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  border-style:solid;
  border-width:1px;
  border-color:(--white)!important;
}

.buy-button:hover {
  background-color: var(--happyHover);
}


/*CUSTOM SCROLL BARZ */

/* Track */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--happyHover);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--buttonColor);
}