@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  --streamColor: #004e66c8;
  --marketColor: #b4d2ffcd;
  --frontPageColor: #d9d9d9cd;
  --radioColor: #ffc1b4d2;
  --liveColor: #ffb4b4c3;

  --darkFont: #000000;
  --lightFont: #FFFFFF;

  --mainFont: 'Barlow', sans-serif;

  --largeFontSize: 9.5rem;
  --mediumFontSize: 3.5vw;
  --smallFontSize: 1rem;


}


main {
  
}

body {
    font-family: 'Barlow', sans-serif;
    color:white;
    background-image: url("https://i.gifer.com/1AkD.gif");
    background-size:cover;
    background-attachment: fixed;
}
/*Change the opacity of the background */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 15, 43, 0.765);
  z-index: -1;
}

footer {
 
  width:100%;
  height:30px;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  text-align:center;
  line-height:90px;
  font-size: 12px;
  color:white;
}

footer a {
  text-decoration-line: none;
  margin-left:5%;
  margin-right:5%;
  color:rgba(255, 255, 255, 0.279);
}

footer a:hover { 
  color: var(--lightFont);
}

  ul {
    list-style: none;
    margin-top: 10px;
  }
  li {
    display: inline-block;
    margin-right: 10px;
    border-radius: 2px;
    border-width: thin;
    border-color:white!important;
    background-color: rgb(0, 0, 0);
    font-size: 12px;
  }

  

  button {
    width:195px;
    max-width:195px;
    height:70px;
    margin-left:5px;
    margin-right:5px;
    border-style:solid;
    border-width:thin;
    border-color:#ffffff;
    font-family: var(--mainFont);
    color:white;
    text-transform: uppercase;
    font-weight: 400;
    background-color:transparent;
    
   
  }

  button:hover {
    cursor: pointer;
    mix-blend-mode: lighten;

  }

  nav {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    float: middle;
    line-height:90px;
  }

  @media screen and (min-width: 620px) {
    nav {
      background-color: rgba(21, 0, 158, 0);
    }
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    text-transform: lowercase;
  }

  /*CUSTOM STYLES FROM THIS POINT */

  .subHeader {
    width:100%;
    display:flex;
    flex-direction: row;
    padding:40px;
    align-items:top;
    width:100vw;
    min-height:150px;
    position:relative;
    max-width:99.99%;
    background-color:var(--darkFont);

  }

  .subHeader:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 15, 43, 0.765);
    z-index: -1;
  }

  /*TOP NAV SUGAR STYLES */
  .navTippyWrap {
    width: 100%;
    height:97px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }



  /*TALKS WITH THE MARKETPLACE GRID */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 217px);
    grid-template-rows: repeat(2, 315px);
    grid-gap: 10px;
    padding:10px;
   
  }
  .grid-item {
    background-color: rgb(120, 120, 120);
    width: 217px;
    height: 315px;
    padding: 10px;
    border: 1px solid gray;
    margin:5px;
    
  }

  .grid-item:hover {
    background-color: rgb(35, 35, 35);
    cursor: pointer;
  }

  .grid-container-show {
    display: grid;
    grid-template-columns: repeat(3, 217px);
    grid-template-rows: repeat(2, 315px);
    grid-gap: 50px!important;
    padding:10px;
   
  }

  .grid-item-show {
    background-color: rgb(199, 199, 199);
    width: 217px;
    height: 315px;
    padding: 10px;
    
    border: 1px solid gray;
    margin:5px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }

.grid-item-show:hover {
  background-color:black;
}



  .logo {
    width:200px;
    height:auto;
  
  }

  .logo:hover {
    cursor: pointer;
    filter: invert(1);
    mix-blend-mode: lighten;
  }

  .logoBig {
    width:400px;
    height:auto;
    margin:0 auto;
    display:block;
    mix-blend-mode: lighten;
  }


  /*LIVE SHOW CSS */

  .address {
    text-align:center;
  }

  @media screen and (max-width: 750px) {
    .grid-container-show {
      display: block;
      grid-template-columns: repeat(3, 217px);
      grid-template-rows: repeat(2, 315px);
      grid-gap: 50px!important;
      padding:10px;
     
    }
  
  }

  



/*TOP NAV CSS */



.topNavButton {
  color:white;
  border-style:solid;
  border-width:1px;
  border-color: var(--lightFont);
}

.topNavButton:hover {
  color:white;
}

.topNavButton-stream {
  color:white;
  /*background-color: var(--streamColor);*/s
}

.topNavButton-stream::before {
  background-color:rgba(0, 0, 0, 0.423);
}

.topNavButton-stream:hover {
  background-color: var(--streamColor);
}

.topNavButton-market:hover {
  background-color: var(--marketColor);
  
}

.topNavButton-frontPage:hover {
  background-color: var(--frontPageColor);
}

.topNavButton-radio:hover {
  background-color: var(--radioColor);
  
 
}

.topNavButton-live:hover {
  background-color: var(--liveColor);
  
 
  
}



/* STREAM STYLES */
.stream {
  background-color:var(--streamColor);
}


/*Radio Styles */

.radio {
  background-color:var(--radioColor)!important;
}

/*LiveShow Styles */

.liveShow {
  background-color:var(--liveColor)!important;
}
  
.liveShowWrap {
  background-color:var(--liveColor)!important;
}

/*LIVESHOW = CALENDAR STYLES */

.calendar {
	display: grid;
  grid-template-columns: repeat(3, 217px);
    grid-template-rows: repeat(2, 315px);
    grid-gap: 10px;
    padding:10px;
	
}

.day {
	width: calc(100% / 7);
	height: 100px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	display: flex;
  justify-content: center;

}





/*FRONT PAGE STYLES */

.monthBlock {
  width:100%;
  min-height:500px;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: rgba(19, 19, 19, 0.843);
  border-style: solid;
  border-width: 1px;
  border-radius: 10%;

}

.frontHeader {
  background-color:rgba(0, 0, 0, 0.727);
  padding-top: 5%;
  padding-bottom: 5%;
  width:100%; 
  height:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align:center;
  
  color:white;
  border-style: thin;
  border-color:black;
}



.frontPageWrap {
  
  width:100%; 
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;


}

/*BLOG BLOCK STYLES*/

.blogBlock {
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: var(--frontPageColor);
  
  
}

/*.blogItem {
  width:1024px;
  max-width:1024px;
  height:432px;
  display:flex;
  flex-direction:column;
  border-style:solid;
  border-color:white;
  margin-top:5%;
  border-width: thin;
}*/

.blogItem-head {
  background-color:red;
  height:50%;
  display:flex;
  align-items: center;
  justify-content: center;

}

.blogItem-content {
  background-color:pink;
  height:50%;
  display:flex;
  align-items: center;
  justify-content: center;
}

/*FRONT PAGE - date Detail styles*/

.calendarItem {
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: var(--frontPageColor);
  text-align: center;
}

.calendarItem h2 {
  color:var(--darkFont);
  font-family: var(--mainFont);
  font-size: var(--mediumFontSize);
  text-align: center;

}
.date h2 {
  width:100%;
  white-space: nowrap;
  text-align: center;
}

.dateDetails {
  /*width:100%;*/
  max-width:700px;
  height:auto;
  display:flex!important;
  flex-direction: row!important;
  align-items:center;
  text-align: center;
  justify-content: center;
  background-color: var(--frontPageColor);
  border-style:solid;

  
}

.dateLI {
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: var(--frontPageColor);
  text-align: center;
  border-style:solid;
  border-width:thin;
  border-color:var(--lightFont);
  margin:10px;
  padding:10px;
}

.dateUL li {
  text-transform: capitalize;
  font-family: var(--mainFont);
  font-weight:100;
  font-size: 1.2rem;
  display:flex;
  margin:10px;
  text-align:center;
  width:100%;


}

.dateUL li:hover {
}




/*BACKGROUND STYLES */

.background-1-stream {
  background-color: var(--streamColor);
}

.background-1-market { 
  background-color: var(--marketColor);
}

.background-1-front {
  background-color: var(--frontPageColor);
}

.background-1-radio {
  background-color: var(--radioColor);
}

.background-1-live {
  background-color: var(--liveColor);
}


/*RADIO STYLES*/

.radioWrap {
  background-color:var(--radioColor);
  width:100%; 
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.radioFrame {
  width:80%;
  height:400px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: var(--radioColor);
}

/*MarketPlace Styles + Grid Market Place */

#marketplace {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product {
  background-color: var(--marketColor)
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product img {
  max-width: 100%;
  margin-bottom: 10px;
}

.cart {
  grid-column: 2 / span 2;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart h2 {
  margin-top: 0;
}

.cart ul {
  margin: 0;
  padding: 0;
}

.cart li {
  list-style: none;
  margin-bottom: 10px;
}
