@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;800;900&display=swap');

:root {

  --white: #FFFFFF;
  --black: #000000;


/*COLORS*/
  --colorBlueA: rgb(0, 0, 37);

  --streamColor:  #000f2b85;
  --marketColor:  #000f2b85;
  --frontPageColor: #000f2b85;
  --radioColor: #000f2b85;
  --liveColor:  #000f2b85;

  --darkFont: #000000;
  --lightFont: #FFFFFF;

  --mainFont: 'Barlow', sans-serif;

  --largeFontSize: 9.5rem;
  --mediumFontSize: 3.5vw;
  --smallFontSize: 1rem;

  --frameHeightDefault: 750px;

  --backgroundNavy : #000f2b85;

  --backgroundColor-sub: #00297523;

  --radioHoverColor: rgba(76, 0, 255, 0.431);
  --borderColor: #2500aa;
  --borderColor-inactive:#1400aa4d;

  --borderColor-white : #ffffff;

  --happyHover: #003caa7a;

  --inactiveText: #ffffff4d;
  --text-standOUT: #ff0060;
}


/*CONDITIONS*/

.top-menu {display:none;}

body {
    font-family: 'Barlow', sans-serif;
    background-image: transparent;
    background-size:cover;
    background-attachment: fixed;
    color:rgb(255, 255, 255);
    background-color: var(--backgroundNavy)!important;
}
/*Change the opacity of the background */
/*
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 15, 43, 0.565);
  z-index: -1;
}
*/


header {
  width:100%;
  z-index:0;
  height:40px;
  background-color:transparent;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.navSuperTop {
  
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-ButtonTop-standard {
  background-color:purple;
}


.login-container {
  display: flex;
  flex-direction: row;
}

.login-button {
  margin-right: 10px;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  font-weight: 500;
  margin: 5px;
  border-style: solid;
  color: var(--inactiveText);
  border-color: var(--borderColor-inactive);
  font-family: 'barlow';
}

.login-button:hover {
  background-color: var(--backgroundColor-sub);
  color: var(--white);
  border-style: solid;
  border-color: var(--borderColor-white);
  transform: pulse 1s infinite;

}

.memberNameWrap {
  background-color:rgba(0, 128, 0, 0);
}


/*HTML DEFO STYLES */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--lightFont);
  cursor: pointer;
}

span {
  font-weight:700;
}

p {
  text-align:left;
  font-size:14px;
}


/*end of HTML DEFO STYLES */

footer {
 
  width:100%;
  height:30px;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  text-align:center;
  line-height:90px;
  font-size: 12px;
  color:var(--lightFont);

  padding-top:10px;
  padding-bottom:10px;
}

footer a {
  text-decoration-line: none;
  margin-left:5%;
  margin-right:5%;
  color:rgba(255, 255, 255, 0.279);
}

footer a:hover { 
  color: var(--lightFont);
}


  ul {
    list-style: none;
    margin-top: 10px;
  }
  li {
    display: inline-block;
    margin-right: 10px;
    border-radius: 2px;
    border-width: thin;
    border-color:white!important;
    background-color: rgb(0, 0, 0);
    font-size: 12px;
  }

  

  button {
    width:195px;
    max-width:195px;
    height:70px;
    margin-left:5px;
    margin-right:5px;
    border-style:solid;
    border-width:thin;
    border-color:#ffffff;
    font-family: var(--mainFont);
    color:white;
    text-transform: uppercase;
    font-weight: 400;
    background-color:transparent;
    
   
  }

  button:hover {
    cursor: pointer;
    mix-blend-mode: lighten;

  }

  nav {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    float: middle;
    line-height:90px;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
  }

  h2 {
    font-size: 36px;
    line-height:90%!important;
    text-align:center!important;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    text-transform: lowercase;
  }

audio {
  font-size:100px;
}

/*TOP LOGO WORK*/
.topLogo-wrap {
  width:100%!important;
  height:100px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin-top:20px;
  margin-bottom:20px;
}

.topLogo-graphic {
  max-height:190px;
  display:block;
  /*margin:0 auto;*/
}

  .subHeader {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--backgroundNavy);
    
  }
  
  .subHeaderVert {
    flex-basis: 50%; /* set the width of each column */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  

  
  /*h2, p {
    margin: 0;
  }*/
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /*TOP NAV SUGAR STYLES */
  .navTippyWrap {
    width: 100%;
    height:100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    transform: perspective(400px) rotateX(23deg)!important;
    position:relative;
    z-index:10;
    margin-bottom:10px;
    padding-bottom:10px;
    padding-top:40px;

  }







  /*TALKS WITH THE MARKETPLACE GRID */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 217px);
    grid-template-rows: repeat(2, 315px);
    grid-gap: 10px;
    padding:10px;
   
  }
  .grid-item {
    background-color: rgb(120, 120, 120);
    width: 217px;
    height: 315px;
    padding: 10px;
    border: 1px solid gray;
    margin:5px;
    
  }

  .grid-item:hover {
    background-color: rgb(35, 35, 35);
    cursor: pointer;
  }

  .grid-container-show {
    display: grid;
    grid-template-columns: repeat(3, 217px);
    grid-template-rows: repeat(2, 315px);
    grid-gap: 50px!important;
    padding:10px;
   
  }

  .grid-item-show {
    width: 217px;
    height: 315px;
    padding: 10px;
    
    border: 1.5px solid rgb(255, 255, 255);
    margin:5px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }

.grid-item-show:hover {
  background-color:black;
}


  .logo:hover {
    cursor: pointer;
    filter: invert(1);
    mix-blend-mode: lighten;
  }

  .logoBig {
    width:700px!important;
    height:auto;
    display:block;
    mix-blend-mode: lighten;
  }


  /*LIVE SHOW CSS */

  .address {
    text-align:center;
  }



  
/*TOP NAV CSS */



.topNavButton {
  color:white;
  border-style:solid;
  border-width:1px;
  border-color: var(--lightFont);
}

.topNavButton:hover {
  color:white;
}

.topNavButton-stream {
  color:white;
  /*background-color: var(--streamColor);*/
}

.topNavButton-stream::before {
  background-color:rgba(0, 0, 0, 0.423);
}

.topNavButton-stream:hover {
  background-color: var(--streamColor);
  animation: pulse 1s infinite;
}

.topNavButton-market:hover {
  background-color: var(--marketColor);
  animation: pulse 1s infinite;
}

.topNavButton-frontPage:hover {
  background-color: var(--frontPageColor);
  animation: pulse 1s infinite;
}

.topNavButton-radio:hover {
  background-color: var(--radioColor);
  animation: pulse 1s infinite;
}

.topNavButton-live:hover {
  background-color: var(--liveColor);
  animation: pulse 1s infinite;
}

/*topDownNav Animations */


/*Radio Styles */


/*LiveShow Styles */
  
.liveShowWrap {

  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align:center;
  width:100%;
  
  
  
}

.liveShowContent {
  border-style:solid;
  border-width:1px!important;
  border-color:white;
  width:100%;
  height:auto;
 
}


.liveShowContentDescWrap {
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center vertically */
  align-items: center; /* center horizontally */

}

/*STREAM STYLES */

.streamShowContent {
  border-style:solid;
  border-width:1px!important;
  border-color:white;
  width:100%;
  height:auto;
}

/*FRONT PAGE STYLES */

.frontSubHeader {
  width: 100%!important;
  height: 100px;
  overflow:hidden;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style:groove;
  border-color: var(--white);
  position:relative;
  margin-top:10px;
  text-align:center;
  
}

.frontSubHeader-text {
  text-align:center;
  font-weight:600;
  font-size: 16px;
  color: var(--white);
  line-height: 100%;
  text-transform:uppercase;
}

.frontSubHeader-text-link {
  text-align:center;
  font-weight:600;
  font-size: 10px;
  color: var(--white);
  line-height: 100%;
  text-transform:uppercase;
  text-decoration:underline;
}


.frontPage-logo-wrap {
  width: 100%;
  background-color:red;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*.frontPage-logo {
  width: 900px;
  height: 100%;
  display:block;
  mix-blend-mode: lighten;
}*/

  /*.frontPage-logo {
    width: 100%;
    max-width:400px;
    height: auto;
    display:block;
    
  }*/

.monthBlock {
  min-width:520px;
  min-height:560px;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items:top;
  justify-content: center;
  background-color: rgba(19, 19, 19, 0.143);
  border-style: solid;
 /* border-color: var(--borderColor);
  border-width: .5px;*/
  text-align:left;
  padding:20px;
}

.frontContent {
  overflow-y: auto;
  min-width: 100%!important;
}

.transformed {
  transform: perspective(400px) rotateX(-23deg)!important;
  transition: transform 0.5s;
  overflow-y:auto;
}

/*@media screen and (max-width: 700px) {
  .frontContent.transformed {
    transform: none!important;
    transition: none!important;
  }
}*/

.button-toggle3d {
  position:absolute;
  top:0;
  left:0;
  z-index: 10;
  height:50px;
  border-radius:5px;
  border-style:none;
  font-weight:400;
  margin:5px;
  border-style:solid;
  color:var(--inactiveText);
  border-color: var(--borderColor-inactive);
  transition: transform 0.75s;

}

.button-toggle3d:hover {
  background-color: var(--backgroundColor-sub);
  color: var(--white);
  border-style:solid;
  border-color: var(--borderColor-white);
  transform: perspective(400px) rotateX(30deg)!important;

}



#updates-ahoy-app {
  background-color: var(--backgroundColor-sub);
  position:relative;
  height:auto;
  padding:10px;
  padding-bottom:23px;
  border-style:solid;
  border-width:.5px;
}

.update-image {
  width:100%;
  height:auto;
  margin:auto;
  display:block;
  /*transform: perspective(400px) rotateX(3deg)!important;*/
  border-style:solid;
  border-color: var(--backgroundColor-sub);
  margin-top:23px;
  margin-bottom:10px;


}

.monthDisplay-text {
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  font-family: var(--mainFont);
  font-size:122px;
  font-weight: bold;
  margin:auto;
  text-transform: uppercase;
  margin-top:23px;
  margin-bottom:23px;
  padding-bottom:23px;
  padding-top:23px;
  text-align:center;
}

.monthUpdateText-bold {
  display:flex;
  flex-direction: row;
  align-items:left;
  justify-content: left;
  font-family: var(--mainFont);
  font-size:16px;
  line-height:50%;
  font-weight: 400;
  margin:auto;
}

.monthUpdateText {
  display:flex;
  flex-direction: row;
  align-items:left;
  justify-content: left;
  font-family: var(--mainFont);
  font-size:16px;
  line-height:95%;
  font-weight: 400;
  margin-top:15px;
}

/*.frontHeader {
  background-color:rgba(255, 10, 10, 0.327);

  width:100%; 
  height:100px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align:center;
  
  color:white;
  border-style: solid;
  border-color:var(--borderColor)!important;
}*/

/*#mainFront {
  height:100vh;
  max-height:100vh;
  overflow-y: auto;
}*/


.frontPageWrap {
  
  width:100%; 
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;

 

}

/*BLOG BLOCK STYLES*/

.blogBlock {
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: var(--frontPageColor);
  
}


/*.blogItem-head {
  background-color:red;
  height:50%;
  display:flex;
  align-items: center;
  justify-content: center;

}*/

.blogItem-content {
  background-color:var(--liveColor);
  height:50%;
  display:flex;
  align-items: center;
  justify-content: center;
}

/*BACKGROUND STYLES */

/*.background-1-stream {
  background-color: var(--streamColor);
}

.background-1-market { 
  background-color: var(--marketColor);
}

.background-1-front {
  background-color: var(--frontPageColor);
}

.background-1-radio {
  background-color: var(--radioColor);
}

.background-1-live {
  background-color: var(--liveColor);
}*/

.bold {
  font-size:32px;
  font-weight:700;
  text-transform:uppercase;
}

.superBold {
  color:var(--text-standOUT);
  font-size:64px;
  line-height:85%;
  text-align:center;
  font-weight:600;
}

/*RADIO STYLES*/



.radioContent-wrap {
  width:100%;
  height:auto!important;
  min-height:600px!important;
  display:flex;
  align-items:center;
  justify-content: center;
  border-style:solid;

  
}

/*
.radioPlayer-wrap {
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width:100%;
  
  background-color: var(--radioColor);
 
  padding-bottom:23px;
  border-style:solid;
  border-width:.5px;
  border-color: var(--borderColor-inactive);
}
*/
/*
.radioShowContent:hover {
  animation: pulse 1s infinite;
  background-color: var(--radioHoverColor);
}
*/




.product {
  border-color: var(--lightFont);
  border-style: solid;
  border-width:1px;
  padding:26px;
  background-color: var(--marketColor);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product img {
  max-width: 100%;
  margin-bottom: 11px;
}


.albumWrap {
  max-width:500px;
  overflow:hidden;
  position: absolute;
  z-index:0;
}


/*ANIMATIONS */


/*pulsating border*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.478);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}


.link {
  text-decoration: underline;
}




/* MARKETPLACE STYLES */

.marketData-section {
  min-width:100%;
  margin-top:2.5%;
  padding-right:10px;
  padding-left:10px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:62.3vh;
  overflow-y:auto;


}

.market-text-header {
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align:center;
}

.market-text-sub-header {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align:center;
}

.market-text-body {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align:center;
}


/*MARKETPLACE REFACTOR GRID */

.market-image {
  width:300px;
  height:300px;
  overflow:hidden;
}


.market-product-grid-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  overflow-y: auto;
}

.market-product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
  max-width: 700px;
  width: 100%;
  max-height: 700px;
  min-width: 100%;
}

.market-grid-item {
  border: 1px solid var(--borderColor-white);
  padding: 10px;
  text-align: center;
  min-width: 300px;
  max-width: 300px;
  min-height: 600px;
  max-height: 600px;
  background-color: var(--backgroundNavy);
  position: relative;
}

.product-buy-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}

.buy-button {
  background-color: var(--buttonColor);
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 200px;
  width: 100% !important;
  height: 50px;
  z-index: 1;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: (--white);
}

.buy-button:hover {
  background-color: var(--happyHover);
  animation: pulse 1s infinite;

}




/*CUSTOM SCROLL BARZ */

/* Track */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--happyHover)!important;
  border-radius: 5px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--happyHover)!important;
}


/*UPDATE PAGE - IMAGE OVERLAY*/
.image-container {
  position: relative;
  display: inline-block;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #FF0062, #000038a2); /* Change the colors as desired */
  mix-blend-mode: multiply; /* Apply the duotone effect */
  opacity: 0.73; /* Adjust the opacity as desired */
}

.update-image {
  display: block;
  min-width: 100%!important;
  height: auto;
}

/*Radio fix ateempt 10x*/

.new-radio {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (change as needed) */
}

.new-radio-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/*Audio Player */

.audio-player {
  width:100%;
  height:300px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.custom-audio-player {

  background-color: navy;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 5px;
  border: none;
  position: relative;
  overflow: hidden;
}

.custom-audio-player::-webkit-media-controls {
  color: rgb(0, 0, 0) !important;
  pointer-events: auto !important;
  mix-blend-mode:multiply;
}

.custom-audio-player::-webkit-media-controls-timeline {
  pointer-events: auto !important;
}

.custom-audio-player::-webkit-media-controls-play-button {
  background-color: rgba(0, 0, 255, 0.455);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  pointer-events: auto !important;
}

.custom-audio-player:hover::-webkit-media-controls-play-button {
  background-color: navy;
 
}

.custom-audio-player::-webkit-media-controls-current-time-display,
.custom-audio-player::-webkit-media-controls-time-remaining-display {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size:15px;
}

.custom-audio-player::-webkit-media-controls-mute-button,
.custom-audio-player::-webkit-media-controls-volume-slider {
  display: none;
}

.custom-audio-player::-webkit-media-controls-volume-slider::-webkit-slider-thumb {
  pointer-events: auto !important;
}

.custom-audio-player::-webkit-media-controls-volume-slider::-webkit-slider-runnable-track {
  pointer-events: auto !important;
}



  








.warning-wrap {
  width:100%;
  height: 200px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;


}

/* CSS for the overlay duotone effect */
.image-container-product {
  position: relative;
  display: inline-block;
}

.image-container-product::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #000d46b4, #002a5aa3); /* Transparent gradient */
  opacity: 1;
}

.market-grid-item:hover .image-container-product::after {
  opacity: 0;
  cursor: pointer;
}

.market-image {
  width: 100%;
  height: auto;
}

/* Other styles */
.market-grid-item {
  position: relative;
  overflow: hidden;
}

/* Additional styling for the product grid and buy button */
/* ... */
