body {
    background: url("https://i.gifer.com/RzdU.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: white !important;
}

.text-outline {
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

body img {
    width: 300px;
    height: auto;
}

#signup-form {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(255, 34, 34, 0.2);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#signup-form input,
#signup-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#signup-form button {
    background: dodgerblue;
    color: white;
}

#notification {
    color: #ff0060;
    margin-top: 10px;
}

/* ... existing styles ... */

/* Add or modify these styles */
#signup-form input[type="email"],
#signup-form input[type="password"] {
    width: 80%;
    /* Adjust as needed */
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}