.newsletter-video-player {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.newsletter-video-player video {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.newsletter-video-player:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.newsletter-video-player::after {
    content: "Watch Now!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 100;
}

.newsletter-video-player:hover::after {
    opacity: 1;
}

.glass-button {
    background: rgba(255, 255, 255, 0.15);
    color: var(--text-color);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 10px 20px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.glass-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.news-add-cal-btn {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 15px 30px;
    /* Make the button bigger */
    border-radius: 15px;
    /* Slightly more rounded corners */
    font-family: 'Courier New', Courier, monospace;
    /* Monospaced font */
    font-size: .9em;
    /* Increase font size */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.news-add-cal-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-5px) rotate(5deg) scale(1.1);
    /* Add rotation and scaling */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.news-add-cal-btn:active {
    transform: translateY(0) rotate(-5deg) scale(0.9);
    /* Different effect on click */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}