#song-list td {
  color: var(--text-color);
}

@media screen and (max-width: 600px) {

  #song-list th,
  #song-list td {
    padding: 5px;
    font-size: 12px;
  }

  #song-list {
    margin-left: 0;
    margin-right: 0;
    width: calc(100% + 20px);
    overflow-x: auto;
  }
}

.song-info {
  text-align: center;
}

.song-info h2,
.song-info h3 {
  margin: 0;
}

.song-controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

#song-list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#song-list thead {
  background-color: var(--secondary-color);
}

#song-list th,
#song-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}