.podcast-container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;

    display: flex;
    text-align: center;
    align-items: center;
}


/* Podcast Section Styles */
#podcast-featured-image-container {
    text-align: center;
    margin-bottom: 20px;
}

#the-featured-podcast-image img {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
}


/* OLD CODE */


#podcast-table {
    position: relative;
    width: 100%;
    font-size: 0.9em;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px;
}

#podcast-table img {
    border-radius: 5px;
}

#podcast-table thead {
    background-color: var(--secondary-color);
}

#podcast-table th {
    text-align: center;
}

#podcast-table td {
    text-align: left;
    border-bottom: .51px solid var(--border-color);
    padding-bottom: 5px;
    padding: 5px;
}

.podcast-featured-image-container {
    position: relative;
    width: 100%;
}

.the-featured-podcast-image {
    padding: 10px;
    background-color: var(--border-color);
    border-width: 100;
    max-width: 95% !important;
}

.podcast-featured-image-container:hover {
    cursor: pointer;
}



@media screen and (max-width: 600px) {
    #podcast-table-container {
        overflow-x: auto;

        /* Shrinks the scale for mobile */
    }

    #podcast-table th,
    #podcast-table td {
        padding: 5px;
        font-size: 12px;
        /* Adjusted for smaller screens */
    }

    .podcast-container {
        padding: 0 5px;
        margin: 0;
        transform: scale(1);
        /* Shrinks the scale for mobile */
    }

    .podcast-featured-image-container {
        margin: 0;
    }
}



.enlarged-thumbnail {
    width: 100%;
    /* Adjust as needed */
    max-width: 500px;
    /* Adjust as needed */
    height: auto;
    border-radius: 8px;
}

#enlarged-thumbnail-container {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Or 'absolute' */
    z-index: 1050;
    /* Ensure it's above other content */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* Or any other background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*Code took from foundtaional */