/* Base Variables */
:root {

    --text-color: #FCE043;
    /* Bright Yellow, for standout readability */
    --button-background: #8D86C9;
    /* Muted Lavender, for a vintage feel */
    --progress-bar-color: #F67280;
    /* Coral, for a pop of color */
    --control-button-color: #C06C84;
    /* Dusty Rose, for a subtle touch */
    --hover-background-color: #6C5B7B;
    /* Thistle, for a muted hover effect */
    --font-family: 'Barlow', Helvetica, Arial, sans-serif;
    /* Modern, clean typography */
    --neurophoric-highlight: linear-gradient(45deg, rgba(53, 92, 125, 0.8), rgba(108, 91, 123, 0.8), rgba(192, 108, 132, 0.8), rgba(248, 177, 149, 0.8));
    /* A gradient of CMYK-inspired hues for a hipster, neurophoric effect, now with added translucency */
}

/* Song Progress Container */
.song-progress-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    /* Reduced padding for a more compact look */
}

/* Song Progress Bar */
#song-progress {
    width: 100%;
    height: 4px;
    background-image: var(--neurophoric-highlight);
    background-size: 200% 200%;
    animation: neurophoricEffect 4s ease infinite;
    cursor: pointer;
    appearance: none;
    border-radius: 2px;
}

/* Slider Thumb */
#song-progress::-webkit-slider-thumb,
#song-progress::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--button-background);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s ease;
}

/* Slider Track */
#song-progress::-webkit-slider-runnable-track,
#song-progress::-moz-range-track {
    background: var(--progress-bar-color);
    border-radius: 2px;
}

/* Current Time Indicator */
#current-time {
    margin-top: 5px;
    font-size: 0.9em;
    color: var(--text-color);
}

/* Song Display & Info */
.song-display,
.song-info {
    justify-content: center;
    width: 90%;
    padding: 5px;
    /* Reduced padding for a more compact look */
    margin: 10px auto;
    /* Reduced margin for a more compact look */
    background-color: var(--control-button-color);
    color: var(--text-color);
    font-size: 0.95em;
    border-radius: 4px;
}

.song-display {
    color: white;
    text-align: justify;
}

/* Player */
#v24ahoyPlayer {
    position: fixed;
    z-index: 100000;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 5100;
    background-image: var(--neurophoric-highlight);
    background-size: cover;
    animation: neurophoricEffect 30s linear infinite;
    padding: 10px 0;
    /* Reduced padding for a more compact look */
    border-style: solid !important;
    border-color: var(--border-color);
    box-shadow: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.5);
}

/* Control Button */
.control-button {
    padding: 6px 12px;
    /* Adjusted padding for a more compact look */
    font-size: 0.8em;
    background-image: var(--neurophoric-highlight);
    background-size: 200% 200%;
    animation: neurophoricEffect 4s ease infinite;
    color: var(--text-color);
    border: none;
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.control-button:hover {
    animation: none;
    background-color: var(--hover-background-color);
    color: var(--background-color);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.control-button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--progress-bar-color);
    /* Ripple effect color */
}

.control-button:active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
    animation: rippleEffect 0.6s ease-out;
}

/* Super Player Button */
.superPlayerButtonMash {
    padding: 8px 16px;
    /* Adjusted padding for a more compact look */
    background-image: var(--neurophoric-highlight);
    background-size: 200% 200%;
    animation: neurophoricEffect 4s ease infinite;
    color: var(--control-button-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100001;
    /* Ensure super player buttons are also on top */

}

.superPlayerButtonMash:hover {
    animation: none;
    background-color: var(--hover-background-color);
    color: var(--background-color);
}

.superPlayerButtonMash:active {
    transform: translateY(1px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--progress-bar-color);
    /* Ripple effect color */
}

.superPlayerButtonMash:active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
    animation: rippleEffect 0.6s ease-out;
}

/* Adding a ripple effect on click */
@keyframes rippleEffect {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 10px rgba(0, 0, 0, 0.0), 0 0 0 30px rgba(0, 0, 0, 0.0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 0 15px rgba(0, 0, 0, 0.0), 0 0 0 30px rgba(0, 0, 0, 0.2);
    }
}

/* Neurophoric Effects */
@keyframes neurophoricEffect {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Responsive Adjustments */
@media (max-width: 768px) {

    .song-progress-container,
    .song-display,
    .song-info {
        width: 95%;
    }

    .control-button,
    .superPlayerButtonMash {
        margin: 5px;
        font-size: 0.9em;
        /* Slightly larger for touch interactions */
    }
}

/* Additional CSS for center-dashboard-menu */
.center-dashboard-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.center-dashboard-buttons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-dashboard-buttons li {
    margin: 0 10px;
}

.center-dashboard-buttons button {
    background-image: var(--neurophoric-highlight);
    /* Retain the unique gradient */
    color: var(--text-color);
    border: 2px solid transparent;
    /* Add a subtle border */
    border-radius: 30px;
    /* Increase border-radius for a more pill-like shape */
    cursor: pointer;
    font-size: 1.1em;
    /* Slightly larger font for emphasis */
    padding: 12px 24px;
    /* Increase padding for a more substantial touch area */
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* Smooth transition for all properties */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    /* More pronounced shadow on hover for a deeper effect */
    font-family: 'Courier New', Courier, monospace;
    /* Switch to a typewriter-like font for that hipster vibe */
    letter-spacing: 0.05em;
    /* Add letter-spacing to improve readability and style */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Add a subtle text-shadow for better readability over the gradient background */
}

.center-dashboard-buttons button:hover {
    animation: none;
    background-color: var(--hover-background-color);
    color: var(--background-color);
    transform: translateY(-3px);
    /* Slightly more lift on hover for a more dynamic interaction */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    /* More pronounced shadow on hover for a deeper effect */
    border-color: var(--text-color);
    /* Introduce a border color change on hover for a subtle highlight */
}

.center-dashboard-buttons button:active {
    transform: translateY(-1px);
    /* Less movement on active to simulate a soft press */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    /* Soften the shadow on press for a 'pushed' effect */
    background-color: var(--progress-bar-color);
    /* Keep the vibrant color change on active */
    border-color: var(--hover-background-color);
    /* Change border color on active for a subtle feedback */
}

.center-dashboard-buttons i {
    margin-right: 8px;
    /* Increase spacing for a more relaxed layout */
    color: var(--control-button-color);
    /* Use a different color for icons for contrast and emphasis */
    transition: transform 0.3s ease;
    /* Smooth transition for icon transformations */
}

.center-dashboard-buttons button:hover i {
    transform: scale(1.1);
    /* Slightly enlarge icons on hover for an engaging effect */
}

/* Introduce a border color change on hover for a subtle highlight */
}

.center-dashboard-buttons button:active {
    transform: translateY(-1px);
    /* Less movement on active to simulate a soft press */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    /* Soften the shadow on press for a 'pushed' effect */
    background-color: var(--progress-bar-color);
    /* Keep the vibrant color change on active */
    border-color: var(--hover-background-color);
    /* Change border color on active for a subtle feedback */
}

.center-dashboard-buttons i {
    margin-right: 5px;
}

border-color: var(--text-color);
/* Introduce a border color change on hover for a subtle highlight */
}

.center-dashboard-buttons button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--progress-bar-color);
}

.center-dashboard-buttons i {
    margin-right: 5px;
}