@media (max-width: 600px) {
  .sidebar {
    display: none;
    /* Hide sidebar on smaller screens */
  }
}

/* Sidebar Styles */
.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -0;
  background: #7387d515;
  color: #fff;
  transition: all 0.3s;
  z-index: 9999;
}

.sidebar-header {
  padding: 20px;
  background: #0b0d16;
}

.sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

#sidebar.active {
  left: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }
}



/* Smaller sidebar for a collapsed state */
.collapsed {
  width: 50px;
}

/* Adjust main content margin when sidebar is collapsed */
.collapsed+.main-content {
  margin-left: 50px;
}

#sidebarCollapse {
  position: fixed;
  left: 10px;
  top: 10px;
  cursor: pointer;
}