.account-icon {
    position: fixed;
    top: 10px;
    /* Adjust based on your header's height */
    right: 10px;
    /* Adjust for padding from the right edge */
    z-index: 10000;
    /* Ensures it stays on top of other content */
}

.fas {
    font-size: 9px;
    /* Icon size, adjust as needed */
    border-color: greenyellow;
    /* Icon color */
}

.account-icon:hover .fas:hover {
    font-size: 11px;
    /* Icon size, adjust as needed */
    color: #ff5b5b;
    cursor: pointer;
    /* Icon color */
}

.status-indicator {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 128, 0, 0.371);
    border-style: solid;
    border-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
}

.status-indicator:hover {
    width: 8px;
    height: 8px;
    background-color: greenyellow;
    border-style: solid;
    border-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}