.ahoy-tv-section {
    font-family: 'Courier New', Courier, monospace;
    /* Retro font */
    color: #fff;
    background-color: #000000b5;
    /* Mimic old TV color */
    padding: 20px;
    border-radius: 10px;
    /* Soft rounded corners for the outer section */
    text-align: center;
    /* Center align the content */
}


.schedule-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    color: black;
    background: rgba(255, 255, 255, 0.091);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.schedule-table th,
.schedule-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #333;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.schedule-table th {
    background-color: rgba(85, 85, 85, 0.5);
    color: #f0f0f2;
    text-shadow: 1px 1px 0px #000;
    /* Subtle text shadow for a retro effect */
}