.ahoy-tv-section {
    font-family: 'Courier New', Courier, monospace;
    /* Retro font */
    color: #fff;
    background-color: #000000b5;
    /* Mimic old TV color */
    padding: 20px;
    border-radius: 10px;
    /* Soft rounded corners for the outer section */
    text-align: center;
    /* Center align the content */
}


.schedule-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    color: black;
    background: linear-gradient(145deg, #e6e8e9, #f0f1f2);
    /* Subtle gradient for a vintage paper look */
}

.schedule-table th,
.schedule-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
    /* Light borders for the table */
    color: #333;
    /* Darker text for a more vintage feel */
    background-color: #f9f9f9;
    /* Light background for cells to mimic aged paper */
}

.schedule-table th {
    background-color: #555;
    /* Darker header for a more pronounced contrast */
    color: #f0f0f2;
    /* Light text color for the header */
    text-shadow: 1px 1px 0px #000;
    /* Subtle text shadow for a retro effect */
}