/*v26 master css*/


/*Side Dock*/

.sidedock {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    color: white;
    transition: left 0.3s;
    z-index: 1000;
}

.sidedock ul {
    list-style: none;
    /* Remove bullet points */
    padding: 20px;
    /* Padding around the list */
    margin: 0;
}

.sidedock ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.sidedock a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.sidedock a:hover {
    background-color: #555;

}


/* Toggle button styles */
.toggle-button {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1001;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    font-size: 24px;
}

.toggle-button:hover {
    background-color: (--border-color);
    color: var(--text-color);
}

.modal {
    position: fixed;
    /* Changed from relative to fixed */
    left: 300px;
    /* Start where the sidedock ends */
    top: 0;
    width: calc(100% - 300px);
    /* Take the remaining width */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Ensure the toggle button does not overlap with the modal */
.toggle-button {
    z-index: 1002;
    /* Increase z-index to be above sidedock and modal */
}


/*buttons */

.button-login-top-right {
    border-color: var(--border-color);
    background-color: var(--border-color);
    color: var(--text-color);

}

.button-login-top-right:hover {
    background-color: var(--background-color);
    color: var(--border-color);
}