#now-playing-container {
    background-color: rgba(255, 255, 255, 0);
    /* Semi-transparent white background */
}

/* Style for each song info div */
.song-info {
    background-color: rgba(0, 0, 0, 0);
    /* Semi-transparent black background */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Style for album art images */
#now-playing-container img#album-art {
    opacity: 0.8;
    /* Make the album art slightly transparent */
}

/* Style for song titles */
#now-playing-container h2#current-song-title {
    color: var(--text-color);
    /* White text color */
    opacity: 0.9;
    /* Slightly transparent text */
}

/* Style for artist names */
#now-playing-container h3#current-song-artist {
    color: var(--text-color);
    /* White text color */
    opacity: 0.7;
    /* More transparent text */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .btn {
    background-color: var(--border-color);
}