body {
    font-family: 'Barlow', sans-serif;
    margin: 20px;
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c08870137524467.620cd6535739f.gif') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    color: #fff;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(142, 68, 173, 0.5), rgba(233, 30, 99, 0.5));
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#content {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
}

input[type="text"] {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    box-sizing: border-box;
}

input[type="text"]::placeholder {
    color: #ddd;
}

input[type="text"]:focus {
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#jsonDisplay,
#previewDisplay,
#changeLog {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.json-item {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.json-item.changed {
    border-color: #ff9800;
}

.json-item.new {
    border-color: #4caf50;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(76, 175, 80, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    cursor: pointer;
}

#fixedButtons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

li {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(4, 4, 4, 0.1353);
}