body {
    font-family: 'Barlow', sans-serif;
    margin: 20px;
    background: #e0e0e0;
}

h1 {
    color: #333;
    text-align: center;
}

#content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#jsonDisplay {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    overflow-x: auto;
}