.grandfather-surprise-section {
    padding-top: 30px;
    /* Adjust the value as needed */
    text-align: left;
}

.grandfather-surprise-section h2,
.grandfather-surprise-section h3,
.grandfather-surprise-section p,
.grandfather-surprise-section button {
    padding-left: 20px;
    /* This ensures text is aligned with bullet points. Adjust as needed */
}