

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');




html {
	font-family: 'Barlow', sans-serif;
	padding:200px;
}

@media (max-width: 768px) {
	html {
		padding: 20px;
	}
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Adjust this to your liking */
    gap: 20px; /* Adjust this to your liking */
}

.dashboard section {
    display: flex;
    align-items: center;
}

.dashboard h2 {
    margin-right: 10px; /* Adjust this to your liking */
}

.dashboard img {
    width: 50px; /* Adjust this to your liking */
    height: 50px; /* Adjust this to your liking */
}

nav {
	background: rgba(0, 187, 255, 0.597);
	backdrop-filter: blur(10px);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #000;
	text-decoration: none;
	transition: color 0.3s ease;
}

nav ul li a:hover {
	color: #007BFF;
}

.glass-button {
    display: inline-block;
	margin: 0 10px;
	width:150px;
	height: 50px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 9px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
	mix-blend-mode: screen;
	font-family: 'Barlow', sans-serif;
	text-transform:uppercase;
	font-size:12px;
}

.glass-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 9px rgba(0, 0, 0, 0.3);
}


header {
	background-color: #000;
	color: #fff;

	display: flex;
	justify-content: space-between;
	align-items: center;
	border-style:solid;
}


.header-left {
	display: flex;
	align-items: center;
}
.header-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.launch-button {
	margin-top: 20px;
}






section {
    margin-bottom: 20px;
}
		       

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #ff0060;
            color: white;
            font-size: 1em;
            cursor: pointer;
            margin-bottom: 20px;
        }

        button:hover {
            background-color: #2a75f3;
        }

        a img {
            width: 50px;
            height: 50px;
        }