:root {
    --background-color:	rgb(0, 0, 19);
    --text-color: rgb(0, 157, 255);
    --border-color: #006aff;
    --secondary-color: #0fb3ffba;
    --button-color:#5d5dff2d;
    /* Add more variables as needed */
}

body {
    /*background-image: linear-gradient(to bottom, #1E1E2A, #1E1E2A, #0E0E16);*/
    color: var(--text-color);
    font-family: Arial, sans-serif;
	padding-bottom:500px;
	background-color: var(--background-color);
    
}

.floatPlayer {
    position: fixed;
    bottom: 20px;
    left: 10px;
    width: 540px;
    border-style: solid;
    border-width: 1px;
    max-height:320px;
    border-color: var(--border-color);
    background-color: var(--background-color);    
    backdrop-filter: blur(5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Add box shadow */
    padding-left: 20px;
    cursor: move; /* Added to indicate the element is movable */
    z-index: 1000; /* Ensure it's above other elements */
}

.floatPlayer button {
	margin-bottom:10px!important;
	border-style:solid;
    border-color: var(--border-color);
	border-width:1px;
}

.playerStats {
    position:fixed;
    bottom:0px;
    right:20px;
    background-color: var(--background-color);    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width:420px;
    height:160px;
    margin:20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

}

#player {
    background-color: rgba(46, 49, 65, 0.949); /* Deep Space Blue */
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    
  
}

button {
    background-color: #3333fc2d; /* Space Gray */
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid var(--secondary-color);

}

th, td {
    padding: 8px 12px;
    text-align: left;
}



td {
    background-color: rgba(46, 49, 65, 0.9);
}

section {
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    border-style:solid;
    border-color:var(--secondary-color);

}

section p {
    text-align:Center;
    padding: 0px;
    margin: 0px;

}

h2 {
    border-bottom: 2px solid #FFD700;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

input, select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #FFD700;
    background-color: #34344A;
    color: #FFD700;
}

#progressBar {
    height: 20px;
    background-color: #2626a8cb;
    border-radius: 10px;
    position: relative;
    overflow:hidden;
}

#progressBar > div {
    height: 100%;
    background-color: #FFD700;
    border-radius: 10px;
    width: 0;
}


#currentSongDisplay {
    background: rgba(255, 255, 255, 0.1); /* Slight white transparency for the frosted glass effect */
    backdrop-filter: blur(5px); /* Frosted glass effect */
    padding: 10px;
    border-radius: 2;
    margin: 12px 0;
    height:35px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 600;
    border: 1px solid rgba(255, 215, 0, 0.3); /* Slight Kodak Gold border */
}

#currentSongDisplay span {
    margin: 0 5px;
    color: var(--text-color);
}

.sectionHeader {
    width: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-color: var(--text-color);
    text-transform: uppercase;
    text-align:justify;
    padding:10px;
    color:var(--text-color); 
}

.card {
    width: 100%;
    max-width: 400px; /* Adjust this to your preference */
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the color and opacity to your liking */
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto; /* Centered cards */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Ensures content inside card does not overflow */
    backdrop-filter: blur(10px); /* Add this line for the glass effect */
}

/* Apply card class to table */
table.card {
    display: block; /* Makes the table behave like a card */
}

/* Apply card class to sections */
section.library, 
section.playlist, 
section.favorite {
    display: block; /* Makes the sections behave like a card */
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .card {
        width: 90%; /* Makes the card take up more width on smaller screens */
    }
}

/* ... [rest of your CSS remains unchanged] ... */




/* Button Styling */
#player button {
    flex: 2;                   /* Allow buttons to grow and take equal space */
    margin: 0 5px;             /* Some space between buttons */
    opacity: 0.9;              /* Slight transparency for an elegant look */
}

/* Now Playing Display Styling */
#currentSongDisplay {
    flex: 1;                   /* Allow this section to take more space */
    text-align: center;        /* Center the text */
    margin: 0 10px;            /* Some space around */
}

/* Progress Bar Styling */
#progressBar {
    flex: 3;                   /* Allow this section to take more space */
    height: 30px;               /* Make it thinner for a sleek look */
    margin: 0 10px;            /* Some space around */
    overflow: hidden;
	border-radius:0px;          /* In case child div goes outside the boundary */
}

#progressBar > div {
    height: 100%;
    background-color: var(--background-color);    
}

/* Volume Control Styling */
#volumeControl {
    flex: 1;                   /* Allow it to take equal space as buttons */
    margin: 0 5px;             /* Some space on sides */
}


/* Library Table */
#libraryTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: var(--background-color);    
    border-radius: 10px;
    overflow: hidden;
}

#libraryTable a {
    color: var(--text-color);
}

#libraryTable th, #libraryTable td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #FFD700;
}

#libraryTable th {
    color: var(--text-color);
    font-weight: bold;
}

#libraryTable td {
    background-color: rgba(46, 49, 65, 0.9);
    color: var(--text-color);
}

#libraryTable tbody tr:nth-child(even) {
    background-color: rgba(46, 49, 65, 0.7);
}



#libraryTable th, #libraryTable td:first-child {
    border-left: none; /* Remove left border for the first column */
}

#libraryTable th:last-child, #libraryTable td:last-child {
    border-right: none; /* Remove right border for the last column */
}

#libraryTable th:first-child {
    border-top-left-radius: 10px; /* Rounded corners for the first column header */
}

#libraryTable th:last-child {
    border-top-right-radius: 10px; /* Rounded corners for the last column header */
}

#libraryTable td:first-child {
    border-bottom-left-radius: 10px; /* Rounded corners for the first column cells */
}

#libraryTable td:last-child {
    border-bottom-right-radius: 10px; /* Rounded corners for the last column cells */
}

#libraryTable thead tr th:first-child {
    padding-left: 20px; /* Add extra padding to the first column header */
}

#libraryTable tbody tr td:first-child {
    padding-left: 20px; /* Add extra padding to the first column cells */
}


#progressBar {
	width: 80;
	height: 50px;
	background-color: #cccccc4b;
	position: relative;
	cursor: pointer;
  }
  
  #progressThumb {
	width: 10px;
	height: 40px;
	background-color: #007bff;
	position: absolute;
	top: 0px;
	border-radius: 50%;
	cursor: pointer;
	border-style:solid;
	border-color:rgba(0, 0, 0, 0.373);

  }
  
  #progressBar.dragging #progressThumb {
	transition: none;
  }
  
  #progressThumb:active {
	transform: scale(1.4);
  }
  

/* Responsive Player Styling */
@media only screen and (max-width: 768px) {
    #player {
        flex-direction: column; /* Stack controls vertically */
    }

    #currentSongDisplay,
    #progressBar,
    #volumeControl {
        margin: 10px 0; /* Vertical margin for stacked controls */
        width: 100%; /* Full width for each control */
    }
}

.theme-selector {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* Themes */
[data-theme="theme1"] {
    --background-color: #f1f1f1;
    --text-color: #333;
}

[data-theme="theme2"] {
    --background-color: #222;
    --text-color: #eee;
}

[data-theme="theme3"] {
    --background-color: #4a90e2;
    --text-color: #fff;
}



.splash-header {
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.splash-header img {
    width:500px;
}


/* ... Your existing styles ... */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black; 
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    backdrop-filter: blur(2px); /* Frosted glass effect */
    border: 1px solid rgba(0, 0, 0, 0.779); /* Light border */
}

.hidden {
    display: none;
}



.new-song {
    background-color: var(--background-color);
}


/*TOOL TIPS*/

[title] {
    position: relative;
  }
  
  [title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-color);
    color: #fff;
    padding: .5em;
    border-radius: .3em;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 3s;
  }
  
  [title]:hover::before {
    content: '';
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top-color: #333;
    opacity: 0;
    transition: opacity 3s;
  }
  
  [title]:hover::after,
  [title]:hover::before {
    opacity: 1;
  }

  /*LEGEND */

  .legend {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ffd90049; /* Kodak Gold */
    border-radius: 5px;
    width: 180px;
    margin: 20px;
filter:opacity(.48);
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.legend-color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 10px;
}

.new-song {
    background-color: var(--background-color);
}

#topControlsWrap {
    display: flex;
    flex-wrap: wrap;
}
#topControls-line-1, #topControls-line-2 {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

#miniPlayer {
    position: fixed;
    bottom: 20px;
    width: 50%;
    height:50px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);

    background: rgba(0, 0, 0, 0.6); /* Change background color */
    backdrop-filter: blur(10px); /* Add this line for the glass effect */
    padding-left:20px;
}

/* Add this CSS to your CSS file */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the color and opacity to your liking */
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    backdrop-filter: blur(10px); /* Add this line for the glass effect */
}
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .themeButtons {
    float: right;
}


.tablePlayButton {
    color:white;
    border-style:solid;
    border-width:.51px;
    border-color:var(--secondary-color);
    width: 100%;
    text-transform: uppercase;
    background-size: 200% auto; /* for animation */
    transition: all 0.15s ease-out; /* transition effect */
    background-color: var (--background-color);

}




/*LIBRARY STYLES AND BUTTONS */

.library-play-button {
    width:100%;
    background-color:var(--button-color);
    color: var(--text-color);
    border-style:solid;
    border-color: var(--secondary-color);
    
}

.library-add-button {
    width:100%;
    background-color:var(--button-color);
    color: var(--text-color);
    border-style:solid;
    border-color: var(--secondary-color);
    
}

.library-artist-button {
    color: var(--text-color);
    border-style:solid;
    border-width:.51px;
    border-color: var(--secondary-color);
    width: 100%;
    text-transform: uppercase;
    background-size: 200% auto; /* for animation */
    background-color:var(--button-color);
    font-size:12px;
    min-height:40px;

}

.library-song-button {
    color: var(--text-color);
    border-style:solid;
    border-width:.51px;
    border-color: var(--secondary-color);
    width: 100%;
    text-transform: uppercase;
    background-size: 200% auto; /* for animation */
    backdrop-filter: blur(10px); /* Add this line for the glass effect */
    font-size:12px;
    min-height:40px;
}

.library-playlist-button {
    width:100%;
    background-color:var(--button-color);
    color: var(--text-color);
    border-style:solid;
    border-color: var(--secondary-color);
    
}

.library-que-button {
    color: var(--text-color);
    border-style:solid;
    border-width:.51px;
    border-color: var(--secondary-color);
    width: 100%;
    text-transform: uppercase;
    background-size: 200% auto; /* for animation */
    transition: all 0.5s ease-out; /* transition effect */
    backdrop-filter: blur(10px); /* Add this line for the glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    background-color:var(--button-color);
}

.library-like-button {
    width:100%;
    background-color:var(--button-color);
    color: var(--text-color);
    border-style:solid;
    border-color: var(--secondary-color);
    

}

.borderBlue {
    border-style:solid;
    width:100%;
}


#settings {
    display:flex;
    width:100%;
}

#settings div {
    border-style:solid;
    padding:20px;
}


.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    animation: fadeInOut-loading 4s linear infinite; /* Apply the animation */
    opacity: 0.1;
    z-index: 2000; /* Ensure it's above other content */
}

@keyframes fadeInOut-loading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

