@media screen and (max-width: 600px) {
    
    html {
        margin: 0;
    }

    body {
        padding:0px!important;
        margin:0px!important;
        display:flex;
        background-color:rgb(2, 0, 37)!important;
        padding-bottom:150vh!important;
        
    }
    #player {
        margin: 0px!important;
        padding:0px!important;
        width: 100%!important;
        max-width:330px!important;
        left:12px;
       
    }
    
    .playerControls {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .floatPlayer {
        margin:0px!important;
        position:fixed!important;
        height:auto;
        align-items:center;
        border-color:rgba(255, 255, 255, 0.217)!important;
        
     
    }

    .floatPlayer button {
        margin-left: 10px !important;
        margin-top: 2.5px !important;
        margin-bottom: 2.5px !important;
        min-width: 50px !important;
        padding: 10px 20px; /* Add padding to make the button larger */
        background-color: #3498db00; /* Change the background color */
        border: none; /* Remove the border */
        border-radius: 5px; /* Add rounded corners */
        text-align: center; /* Center the text */
        text-decoration: none; /* Remove the underline */
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s; /* Add animation when hovering */
        cursor: pointer;
        
    }
    
    .floatPlayer button:hover {
        background-color: #bfff00; /* Change the background color when hovering */
        color: rgb(0, 0, 0);
    }

    .splash-header {
        background-color:transparent!important;
        height:20vh;
    }

    .splash-header img {
        width:300px!important;
        height:auto;
        mix-blend-mode: lighten;
        
    }

    #currentSongDisplay {
        display:flex;
        align-items: center;
        height:65px!important;
    }

    #currentArtist {
        color:rgb(63, 255, 149);
    }

    #topControlsWrap {
        display:block;
        text-align:center;
        align-items: center;
        justify-content: center;
        position:relative;
        height:115px;
        padding-top:20px!important;
    }





}

/*DESKTOP? (confirm later) NOTICE THE MIN */
@media (max-width: 600px) {
    #topControls {
        display:block;
        text-align:center;
        align-items: center;
        justify-content: center;
        position:relative;
        height:115px;
    }
}