:root {
    --background-color:	rgb(0, 14, 19);
    --text-color:  #00f2ff;
    --border-color: #00e5ff;
    --secondary-color: #000000ba;
    --button-color:#ffffff2d;
    --gold : #ffd900;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
padding-bottom:22.5vh;}

.artist-info a {
color:var(--text-color);}

.artist-info a:hover {
    color:var(--gold);
}

.artist-info strong {
    font-size:1.45rem;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
}

.list-item:hover {
    border-bottom: 1px solid var(--gold);
    cursor: pointer;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.bottom-nav a {
    color: var(--text-color);
    text-decoration: none;
}

.player {
    position: fixed;
    bottom: 51px;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 35px 0;
 
}

.player-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.player-info {
    flex: 1;
}

.player-link {
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

.player-controls, .player-actions {
    display: flex;
    align-items: center;
}

.player-button {
    color: var(--text-color);
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 20px;
}

.player-button:focus {
    outline: none;
}


.bottom-controller {
    position:fixed;
    bottom:0;
    height :10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Add your styles here (padding, background, etc.) */
}

.bottom-controller {
    padding: 10px 0;
    background-color: var(--background-color);
    overflow:hidden;
    height:50px;
}

.bottom-controller button {
    color: var(--text-color);
    background: var(--background-color);
    border: none;
    font-size: 32px;
    cursor: pointer;
    border-style:solid;
    padding:25px;
    
}

#tab-indicator {
    color: var(--text-color);
    font-size: 20px;
}


.fixed-bottom {
    position: fixed;
    bottom: 0%; /* Adjust this value based on the height of your bottom navigation */
    width: 100%;
    z-index: 999; /* To make sure it's above other elements */
}

.radio-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }