<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.ahoyApp" version="0.3.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">



    <!-- App Metadata -->
    <name>Ahoy</name>
    <description>Ahoy Indie Media is a hand-crafted indie media platform.</description>
    <author email="alex@ahoy.ooo" href="https://ahoy.ooo">Ahoy Indie Media Team</author>
    
    <!-- App Entry Point -->
    <content src="index.html" />
    
    <!-- Allow access to all domains -->
    <access origin="*" />
    
    <!-- Configure WKWebView (recommended for iOS) -->
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    
    <!-- Enable Inline Media Playback -->
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaTypesRequiringUserActionForPlayback" value="none" />
    
    <!-- Set Scheme and Hostname for Local Access -->
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
    
    <!-- Enable Cross-Origin Resource Sharing Policies -->
    <preference name="iosScheme" value="app" />
    <preference name="corsEnabled" value="true" />


       <!-- Electron Platform Settings -->
    <platform name="electron">
        <preference name="electronMainFile" value="cdv-electron-main.js" />
        <!-- Optional Preferences for Electron -->
        <preference name="ElectronBackgroundColor" value="#FFFFFF" /> <!-- Set background color -->
        <preference name="ElectronWindowWidth" value="1280" />
        <preference name="ElectronWindowHeight" value="720" />
      
    </platform>

</widget>