/*Radio CSS*/

.glass-effect {
  background: rgba(0, 6, 122, 0.065);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.052);
  display:flex;
    align-items:center;
    justify-content:center;

}

.logo-container {
  border-style: solid;
  border-color: white;
}

.glass-content {
  color: white;
  
}

.glass-title {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.8);
  text-align:center;
  display:flex;
    align-items:center;
    justify-content:center;
}

.glass-status {
  color: rgba(255, 255, 255, 0.5);
  display:flex;
    align-items:center;
    justify-content:center;
}

.status-indicator {
  color: rgba(0, 255, 234, 0.461);
  padding-left:10px;
}

.glass-audio-data {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 20px; /* Add padding */
  margin: 10px; /* Add margin */
  line-height: 1.5; /* Improve readability */

}

.glass-audio-display {
  color: rgba(255, 255, 255, 0.8);
}

.glass-up-next, .glass-recently-played {
  color: rgba(255, 255, 255, 0.5);
}

=
  
  .glass-effect, .logo-container, .glass-content, .glass-title, .glass-status, .status-indicator, .glass-audio-data, .glass-audio-display, .glass-up-next, .glass-recently-played {
    display: inline-block;
    margin-right: 20px;
  }