<html> <!-- Updates as of 6.12.23 -->
    <head>
     <!-- BASIC META -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- META DESCRIPTION -->
     <meta name="description" content="Ahoy Indie Media - A hand-crafted media company based out of New Haven, Connecticut. Our mission is to provide a homegrown alternative to the way folks consume media. We believe in good media - good indie media - the real stuff. Learn about our strategy for sustainable growth and how we maintain an ad-free environment. Join our subscription-based service to access unique in-house content, including the immensely unpopular 'Rob Show.' Become a part of our indie creator-centric platform.">
     <!-- PLAUSIBLE -->
     <script defer data-domain="ahoy.ooo" src="https://plausible.io/js/script.js"></script>
     <!--FAVICON -->
     <link rel="icon" type="image/x-icon" href="./assets/ahoyFav.png">
        <title>Ahoy Indie Media | Updates </title>
        <!-- IMPORT OF VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <!-- CSS3 -->
        <link rel="stylesheet" href="../css/mainStyle.css">
       <link rel="stylesheet" href="../css/mobile.css">
       <link rel="stylesheet" href="../css/updates.css">
     
    </head>
  <body id="updates-body"> 



<!-- PART 1 -->
         <!-- START OF TOPDOG -->
         <div class="topDog-wrap">
          <div class="topLogo-wrap">
            <a href="../index.html"><img src="../assets/u_ahoy23.png" class="topLogo-graphic"></a>
          </div>
          
          <div class="navTippyWrap">
            <a href="../cable/index.html"><button class="topNavButton-stream">Cable</button></a>
            <a href="../updates/index.html"><button class="topNavButton-stream">Updates</button></a>
            <a href="../radio/index.html"><button class="topNavButton-stream">Radio</button></a>
            <a href="../library/index.html"><button class="topNavButton-stream">Radio</button></a>
          </div>
          </div>
   
        <!-- END OF TOP DOG -->


 <div id="mainFront">
    <div class="frontSubHeader">
      <p class="frontSubHeader-text">
      AHOY APP + CONTENT UPDATES + DEV LOG + COMPANY JOURNAL : AS OF September 2023 </p>
      <div class="section-full-width">
        <a href="#githubUpdatesTotal"><p class="frontSubHeader-text-link" style="color:rgba(255, 255, 255, 0.724)!important;">List of Most Recent Github Commits</p></a>
      <a href="https://github.com/oooAHOYooo/oooAHOYooo.github.io"> <p class="frontSubHeader-text-link" style="color:rgba(216, 112, 147, 0.563)!important;">Branch and Contribute to our open source - public Github Repo </p></a>
    </div>
    </div>
    <div class="section-full-width" id="githubUpdatesTotal">
      <div class="githubUpdates" id="githubData">
        <h2>Commits</h2>
        <div v-for="commit in commits" :key="commit.sha">
          <h3>{{ commit.commit.message }}</h3>
          <p>Author: {{ commit.commit.author.name }}</p>
          <p>Date: {{ commit.commit.author.date }}</p>
        </div>
      </div>
      </div>
      
  <!-- content goes here -->
<div class="update-super-wrap">
  <div id="updates-ahoy-app">
    <div v-for="month in months" :key="month.displayText">
      <h2 class="monthDisplay-text">{{ month.displayText }}</h2>
      <div class="updates-text-wrap" v-for="update in month.updates" :key="update.text">
        <p :class="['monthUpdateText', { 'bold': update.bold }, {'superBold':update.superBold}]">{{ update.text }}</p>
        <p v-if="update.link" v-html="update.link"></p>
        <div class="image-container">
          <img class="update-image" v-if="update.image" :src="update.image" alt="">
          <!--<div class="image-overlay"></div>-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END OF UPDATE WRAP -->
  <!-- GITHUB COMMIT -->

    <script>
    new Vue({
      el: '#githubData',
      data: { commits: [] },
      mounted() {
        fetch('https://api.github.com/repos/oooAHOYooo/oooAHOYooo.github.io/commits')
          .then(response => response.json())
          .then(data => { this.commits = data; });
      }
    });
    </script>
            <footer id="updateFooter">

              <a href="https://github.com/oooAHOYooo/oooAHOYooo.github.io" target="_blank">Branch and Contribute to our open source - public Github Repo</a>
  
            </footer>
            <!-- SCROLL TO THE TOP -->
            <button id="scrollToTop" class="scrollToTop">
              <i class="fas fa-arrow-up"></i>
            </button>
            <script>

var mybutton = document.getElementById("scrollToTop");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
mybutton.onclick = function() {
  window.scrollTo({top: 0, behavior: 'smooth'});
}
            </script>
</main>

<!-- SCRIPTS AND CONDITIONAL LOGIC -->



<!-- START OF DAILY BACKGROUND CHANGES -->
<script src="../scripts/script_backgroundChange.js"></script>
<!-- UPDATES PLACE DATA FEED -->
<script src="../updates/updates.js"></script>

<!-- END OF CONDITIONAL AND CODE LOGIC -->
<!-- HOpe you enjoyed this journey -->

    </body>
</html>
