.winamp-playlist {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0a0a0a;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid #0033ff;
    overflow: hidden;
    padding:50px;
}

.winamp-playlist h3 {
    background-color: #006eff2c;
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #0008ff4e;
    color: #ffffff4e;
    font-weight: bold;
}

.winamp-playlist-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #333333;
    padding: 3px 0;
}

.song-number {
    padding-right: 10px;
}