body {
    font-family: Arial, sans-serif;
    background-color: #ff5a5abf;
}

.welcomeScreen {
    text-align: center;
    margin: 50px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
}

#searchResults {
    margin-top: 10px;
}

.searchResult {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ff8686;
}

.searchResult:hover {
    background-color: #e0e0e0;
}

#audioPlayer {
    width: 100%;
    margin-top: 20px;
}

/* Other styles */

#volumeControl {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 20px auto;
}

.volume-dial {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #ccc;
    animation: rotateDial 1s linear infinite;
}

#volumeSlider {
    position: absolute;
    transform: rotate(90deg);
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

@keyframes rotateDial {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
