body {
    font-family: Arial, sans-serif;
    background-color: navy;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    
}

.player {
    width: 50%; /* Changed to 70% width */
    margin-right: 5%; /* Margin for some space from the right edge */
}
a {
    color:white;
    text-transform: uppercase;
    opacity: .4;
}

a:hover {
    opacity: 1;
}


.flexWRAPS {
    display: flex;
    align-items: flex-start;
}

button.buy {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
/* ... existing styles ... */

.playlist-container {
    margin-top: 20px;
}

.playlist {
    margin-top: 10px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    width: 30%; /* 30% width for the playlist */
    position: fixed; /* Fixed position to make it stay on the left */
    left: 5%; /* Some space from the left edge */
    height: 90vh; /* Make it almost full height */
    overflow-y: auto; /* If content exceeds the height, it's scrollable */
}

.playlist h3 {
    margin-top: 0;
}
.playlist-container,
.player {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 5px 15px;
    margin: 5px;
}

.ahoyMusicLogo {
    width: 300px;
}

.now-playing {
    width: 20%; /* Adjust as per requirement */
    height: 90vh;
    margin:10px;
    border-style:solid;
    border-color:white;
    border-width:1px;
    margin-right: 5%; /* Margin to give some space from the right edge */
    background-color: #333; /* Background color, adjust as per your design */
    color: #fff; /* Text color, adjust as per your design */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0; /* Position it on the far right */
    padding: 10px;
    overflow-y: auto; /* Make it scrollable if content exceeds height */
}

.artwork {
    max-width: 90%; /* Make sure the artwork fits inside the div */
    margin-top: 10px;
    border-radius: 10px; /* Optional: for rounded corners */
}
#index-body {
    height: 100vh;
    background-color:black;
  }

#index-body:before {
animation: grain 8s steps(10) infinite;
background-image: url(./assets/ahoygrain.jpg);
content: "";
height: 300%;
left: -50%;
opacity: 0.63;
background-color:black;
position: fixed;
top: -110%;
width: 300%;
z-index:-1;
}

@keyframes grain {
0%, 100% { transform:translate(0, 0) }
10% { transform:translate(-5%, -10%) }
20% { transform:translate(-15%, 5%) }
30% { transform:translate(7%, -25%) }
40% { transform:translate(-5%, 25%) }
50% { transform:translate(-15%, 10%) }
60% { transform:translate(15%, 0%) }
70% { transform:translate(0%, 15%) }
80% { transform:translate(3%, 35%) }
90% { transform:translate(-10%, 10%) }
}

.player {
    width: 50%; 
    margin-right: 5%; 
}

.player h2, 
.player audio, 
#songList {
    width: 100%;
    box-sizing: border-box; /* Ensure padding and borders are counted within the width */
    margin: 0; /* Remove any margins */
    padding: 0; /* Remove any paddings */
}

.player audio {
    display: block; /* Make the audio player block level */
    width: 100%;
    margin-top: 10px; /* Add some spacing from the title */
    background-color: rgba(0, 0, 0, 0.5); /* Translucent black */
    border-radius: 10px; /* Rounded edges */
    box-shadow:  10px 10px 15px #1a1a1a, 
                -10px -10px 15px #4a4a4a; /* Neumorphic effect */
    outline: none;
}

.neumorphic-player {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  10px 10px 15px #d9d9d9, 
                -10px -10px 15px #ffffff;
    width: 300px;
}

.neumorphic-button, .neumorphic-slider input[type="range"] {
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    box-shadow:  3px 3px 6px #d9d9d9, 
                -3px -3px 6px #ffffff;
    cursor: pointer;
}

.neumorphic-button:active, .neumorphic-slider input[type="range"]:active {
    box-shadow: inset 3px 3px 6px #d9d9d9, 
                inset -3px -3px 6px #ffffff;
}

.neumorphic-slider input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #f0f0f0;
    cursor: pointer;
    box-shadow:  2px 2px 4px #d9d9d9, 
                -2px -2px 4px #ffffff;
}

.neumorphic-slider input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
